// Typography rules
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900");

// font-family: 'Titillium Web', sans-serif;

@font-face {
    font-family: "Graphik Regular";
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/Graphik-Regular.eot');
    src: url('../../fonts/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Graphik-Regular.woff2') format('woff2'),
         url('../../fonts/Graphik-Regular.woff') format('woff'),
         url('../../fonts/Graphik-Regular.ttf')  format('truetype'); 
  }
  
  @font-face {
    font-family: "Graphik Black";
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/Graphik-Black.eot');
    src: url('../../fonts/Graphik-Black.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Graphik-Black.woff2') format('woff2'),
         url('../../fonts/Graphik-Black.woff') format('woff'), 
         url('../../fonts/Graphik-Black.ttf')  format('truetype');
  } 