.page-404 {
    text-align: center;
    .pnf-heading{
        font-size: 100px;
        font-weight: bold;
        line-height: .09;
        text-align: center;
        color: $color-1;
        margin-bottom: 0;
        text-shadow: 0 6px 0 rgba(153,153,153,.35);
        -webkit-text-stroke: 3px #fff;
        @media #{$tablet}{
            font-size: 200px;
            text-shadow: 0 15px 0 rgba(153,153,153,.35);
            -webkit-text-stroke: 8px #fff;
        }
    }
    .text-wrap{
        background-color: #edf0f5;
        padding: 65px 15px 50px;
        @media #{$tablet}{
            padding-top: 105px;
            padding-bottom: 70px;
        }
        h1{    
            font-size: 20px;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $color-1;
            margin-top: 0;
            margin-bottom: 25px;
            @media #{$tablet}{
                font-size: 24px;
                font-size: 2.4rem;
                margin-bottom: 45px;
            }
        }
        a{
            text-transform: uppercase;
            color: $text-color;
            font-weight: bold;
        }
    }
    .home-link{
        background-color: $color-1;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        top: -40px;
        margin: 0;
        a{
            color: #fff;
            background: #444;
            display: inline-block;
            margin: 20px;
            padding: 12px 20px;
            text-transform: uppercase;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
        }
    }
}

