.cart-container{
    max-width: 1100px;
    //padding-bottom: 80px;
}
.table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border: medium none;
    vertical-align: middle;
    tr{
        border: 1px solid #e5e5e5;
        margin: 0;
        padding: 0;
        vertical-align: baseline;
        outline: 0;
        &:nth-child(odd) td{
            background: transparent;

        }
    }
    th{
        padding: 13px 10px;
        font-size: 17px;
        line-height: 1.5;
        font-weight: 700;
        color: #393939;
    }
    td{
        vertical-align: middle;
        padding: 5px 10px;
        &.product-remove{
            text-align: center;
            border-right: 1px solid #e0dede;
            button{
                width: 13px;
                height: 13px;
                display: inline-block;
                vertical-align: middle;
                background: none;
                border: none;
                cursor: pointer;
                padding: 0;
                outline: none;
            }
        }
        a{
            color: #aeaeae;
        }
        img{
            display: block;
            width: 66px;
        }
        .quantity{
            margin: 0;
            color: #b5b5b5;
            font-size: 12px;
            line-height: 14px;
            height: auto;
            float: left;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            .minus, .plus{
                font-size: 15px;
                line-height: 47px;
                height: 47px;
                color: #40423a;
                background-color: #f4f4f3;
                border-width: 0px;
                border-style: solid;
                width: 47px;
                padding: 0;
                display: inline;
                cursor: pointer;
                outline: none;
                transition: background-color .3s ease-in-out;
                margin: 0 3px;
                float: left;
                &:hover{
                    color: #fff;
                    background-color: $text-color;
                }
                &:disabled{
                    cursor: auto;
                    &:hover{
                        background-color: #f4f4f3;
                        color: #40423a;
                    }
                }
            }
            input[type="text"]{
                font-size: 15px;
                line-height: 47px;
                height: 47px;
                color: #40423a;
                background-color: #f4f4f3;
                border-width: 0px;
                border-style: solid;
                border-radius: 0px;
                width: 47px;
                position: relative;
                display: inline;
                padding: 0;
                border: 0;
                text-align: center;
                float: left;
                margin: 0 3px;
            }
        }
    
    }
}
.page-cart {
    .actions{
        display: flex;
        margin-top: 30px;
        justify-content: space-between;
        input{
            padding-top: 0;
            padding-bottom: 0;
            width: auto;

        }
        input[type="text"]{
            background-color: #eaeaea;
            color: $text-color;
            font-size: 13px;
            outline: 0;
            color: #40423a;
            width: 178px;
            margin-right: 15px;
            padding: 0 13px;
            height: 37px;
            position: relative;
            border: none;
        }
        input[type="submit"]{
            position: relative;
            top: 3px;
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 47px;
            letter-spacing: 0px;
            font-style: italic;
            text-transform: capitalize;
            color: #40423a;
            background-color: #eaeaea;
            border-width: 0px;
            border-style: solid;
            border-radius: 0px;
            padding-left: 37px;
            padding-right: 37px;
            cursor: pointer;
            &.checkout-button{
                margin-left: 15px;
                background-color: $color-3;
                color: #fff;
                &:hover{
                    background-color: lighten($color-3, 10%);
                }
            }
            &:hover{
                background-color: darken(#eaeaea, 20%);
                color: #fff;
            }
        }

    }
    .cart_totals{
        float: right;
        width: 345px;
        h3{
            font-size: 19px;
            margin-bottom: 25px;
            letter-spacing: 0;
            text-transform: none;
            font-family: $font-family-graphik-black;
        }
        table{
            text-align: left;
            width: 100%;

            th{
                color: #aeaeae;
            }
            td{
                padding: 6px;
            }
            .cart-discount{
                form{
                    display: inline-block;
                }
                button{
                    background: none;
                    border: none;
                    color: $brand-danger;
                    cursor: pointer;
                }
                td{
                    padding-left: 0;
                    color: $brand-danger;
                }

            }
            .new-subtotal td{
                border-top: 1px solid #aeaeae;
            }
            .order-total td{
                font-size: 22px;
            }
        }
    }
}
.no-items-in-cart{
    text-align: center;
    .btn{
        margin-top: 40px;
        margin-bottom: 70px;
    }
}
.out-of-stock{
    position: absolute;
    color: $brand-danger;
    bottom: -15px;
    left: 3px;
    display: block;
}
.wishlist-table{
    text-align: center;
    margin: 90px 0 60px;
    h3{
        @media #{$tablet}{
            font-size: 24px;
        }
    }
}