.billing-details{
    width: 49%;
    margin-right: 1%;
    
}
.order-details{
    width: 49%;
    margin-left: 1%;
    .order-total{
        span{
            font-size: 24px;
        }
        th{
            font-weight: 700;
            color: $text-color;
        }
        td, th{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    table{
        &.review-order-table{
            tr{
                border-bottom: 1px #d7d7d7 solid;
            }
            th{
                color: #888;
                border-bottom: 1px solid #d7d7d7;
                font-weight: 600;
            }
            td{
                color: $text-color;
            }
            .cart_item .product-name{
                padding-left: 25px;
            }
            .cart-discount td{
                padding-left: 5px;
                color: $brand-danger;
            }
        }
        tfoot{
            th{
                font-weight: 500;
                color: #444;
                text-transform: capitalize;
                border-top: 1px solid #d7d7d7;
            }
        }
    }
    input[type="submit"]{
        background-color: $color-1;
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 18px;
        cursor: pointer;
        &:hover{
            background-color: $color-2;
        }
      &:disabled{
        background-color: lighten($color-1, 20%);
        cursor: not-allowed;
      }
    }
    ul{
        padding-left: 0;
        li{
            margin-top: 15px;
        }
    }
    .payment_box{
        outline: 1px solid #eaeaea;
        padding: 10px;
        margin-left: 20px;
    }
}
.billing-form-wrapper, #order_review{
    background-color: #f6f6f6;
    padding: 20px 20px 40px;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
 .StripeElement {
    background-color: white;
    height: 40px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin: 5px 0 15px;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  #card-errors{
      color: $brand-danger;
  }
.terms-errors{
    color: $brand-danger;
}