// Contact specific styles

.contact-page{
    .heading-title-wrapper p{

    }
    .contact-form-container {
        max-width: 900px;
    }
    footer{
        border-top: 1px solid #eaeaea;
        margin-top: 70px;
    }
    .btn-submit{
        margin-top: 40px;
    }
}