// Home specific styles
#hero-home{
    background-image: url('https://www.pumasikkerhedssko.dk/img/index/elevate-knit-green-low-sikkerhedssko-full.jpg'); 
    height: 100vh; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}
#categories-home{
    background-color: #f4f4f4;
    padding: 60px 0;
    .categories-home-h5{
        position: relative;
        font-size: 17px;
        letter-spacing: 0.04em;
        font-family: "Graphik Black";
        color: #5d5d5d;
        padding-left: 80px;
        &:before{
            position: absolute;
            content: "";
            width: 50px;
            height: 1px;
            background-color: $color-1;
            left: 0;
            top: 8px;

        }
    }
    .home-cat{
        position: relative;
        text-align: center;
        color: #fff;
        .home-cat-wrap{
            padding: 20px;
            position: relative;
            overflow: hidden;
            transition: all .5s ease-in-out;
            backface-visibility: hidden;
            &:hover{
                
                .home-cat-overlay{
                    transform: scale(1.15);
                    &::before{
                        opacity: 0.65;
                    }
                }
            }
        }
        h5{
            z-index: 10;
            font-size: 40px;
            position: relative;
            padding: 40px 0;
            font-family: "Graphik Black";
        }
        p{
            z-index: 10;
            position: relative;
        }
        .btn{
            float: right;
            margin-top: -47px;
            margin-right: 150px;
            position: relative;
            z-index: 10;
            padding: 5px 25px;
        }
        a:not(.btn){
            color: #fff;
            
        }
    }
    .home-cat-overlay{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: all .5s ease;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:before{
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            content: "";
            opacity: 0.85;
            @include gradient-2;
            transition: opacity 0.3s ease;
        }
    }
    .home-cat-sale .home-cat-overlay{
        background-image: url('/images/sales-black.jpg');
    }
    .home-cat-women .home-cat-overlay{
        background-image: url('/images/cat-women-black.jpg');
    }
    .home-cat-men .home-cat-overlay{
        background-image: url('/images/cat-men-black.jpg');
    }
    .home-cat-summer{
        .home-cat-wrap{
            padding-left: 10%;
            padding-top: 45px;
            padding-bottom: 70px;
            .home-cat-overlay{
                background-image: url('/images/sport-equipment-black.jpg');
                background-position: bottom;
            }
        }
    }
    .home-cat-summer{
        margin-top: 30px;
        text-align: left;
        h5{
            margin-bottom: 0;
            margin-top: 10px;
            padding-bottom: 15px;
        }
    }
}
#discount-home{
    text-align: center;
    padding: 70px 0;
    color: #fff;
    @include gradient-3;
    h3{
        font-size: 40px;
        font-family: "Graphik Black";
        letter-spacing: 0.04em;
    }
    
}

.home-product{
    background-color: #f4f4f4;
    padding-top: 70px;
    padding-bottom: 50px;
    .index-flex-motion-img{
        margin-right: 16%;
        position: relative;
        img{
            display: block;
        }
    }
    .index-flex-motion-wrap{
        position: relative;
    }
    .index-flex-motion-info {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 40px 0;
        background: #fff;
        h2{
            color: $text-color;
            font-family: "Graphik Black";
            font-size: 26px;
            @media #{$tablet}{
                font-size: 30px;
            }
            @media #{$lg-desktop}{
                font-size: 36px;
            }
        }
        p{
            margin: 30px 0;
            text-align: center;
            font-size: 14px;
            @media #{$tablet}{
                font-size: 16px;
            }
            @media #{$lg-desktop}{
                text-align: left;
                max-width: 300px;;
            }
        }
        @media #{$sm-mobile}{
            position: relative;
            z-index: 1;
            margin-top: -20px;
            margin-right: 20px;
            margin-left: 20px;
        }
        @media #{$tablet}{
            z-index: 1;
            margin-top: 0;
            margin-right: 0;
            margin-left: 0;
        }
        @media #{$desktop}{
            position: absolute;
            right: 0;
            bottom: 0;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            width: 350px;
            padding: 60px 0 60px 25px;
        }
        @media #{$lg-desktop}{
            width: 417px;
            padding: 60px 0 60px 40px;
        }
    }
    &.two{
        .index-flex-motion-img{
            margin-right: 0;
            margin-left: 16%;
            &:after{
                @include gradient-7;
            }
        }
        .index-flex-motion-info{
            left: 0;
            right: auto;
        }
    }
}
#popular-brands{
    padding-top: 50px;
    padding-bottom: 50px;;
    h2{
        font-size: 50px;
        text-align: center; 
        color: #2D2D2D;
        font-family: "Graphik Black";
        text-transform: uppercase;
        span{
            color: $color-1;
        }
    }
    .brand-list{
        padding: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        li{
            float: left;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            margin: 0 20px;
            img{
                max-width: 120px;
            }
        }
    }
}
.subscription{
    margin-bottom: 80px;
    text-align: center;
    h2{
        color: $text-color;
        font-size: 30px;
    }
    p{
        max-width: 400px;
        margin: 0 auto 40px;
    }
}
.divider{
    height: 80px;
    background-color: #eaeaea;
}