.page-login{
    background-image: url("../../images/bg-peep-home.png");
    &.register{
        background-image: url("../../images/hustlehart-khart.jpg");
    }
    footer {
        background-color: transparent;
        color: #fff;
        text-align: center;
        margin-top: 0;
        border: none;
    }
    #app {
        min-height: calc(100vh - 100px);
    }
    .panel-logreg-wrapper{
        max-width: 600px;
        margin: 0 auto;
    }
    .panel-logreg{
        padding: 50px;
        background-color: #f6f6f6;
        position: relative;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
        box-shadow: 0 2px 10px rgba(0,0,0,.15);
        background-color: rgba(255, 255, 255, 0.6);
        &:after{
            content: "";
            position: absolute;
            width: calc(100% - 50px);
            left: 25px;
            height: calc(100% - 50px);
            top: 25px;
            border: 1px solid #e8e8e8;
        }
        .panel-heading{
            text-align: center;
            font-size: 32px;
            font-family: "Graphik Black";
            color: $text-color;
            margin-top: 30px;
        }
        .panel-body{
            max-width: 400px;
            margin: 0 auto;
            padding: 30px 0;
            position: relative;
            z-index: 2;
        }
        .btn{
            max-width: 280px;
            width: 100%;
            margin-top: 30px;
            margin-bottom: 20px;
            outline: none;
        }
        input{
            background-color: transparent;
            &:focus{
                border-color: $text-color;
            }
            ::-webkit-input-placeholder {
                color: #eaeaea;
            }
            ::-moz-placeholder {
                color: #eaeaea;
            }
            :-ms-input-placeholder {
                color: #eaeaea;
            }
            :-moz-placeholder {
                color: #eaeaea;
            }
            &:-webkit-autofill {
                background-color: rgba(255, 255, 255, 0.6);
            }
        }
        .login-form{
            input{
                &:focus{
                    border-color: #d84a43;
                }
            }
        }
        .checkbox{
            .btn-forgot{float: right;}
        }
    }

    .social-login{
        text-align: center;
        .svg-facebook, .svg-google{
            margin-right: 15px;
        }
        h4{
            text-align: center;
            color: #fff;
            position: relative;
            font-weight: 400;
            &:after{
                content: "";
                position: absolute;
                right: 0;
                width: 33%;
                height: 1px;
                top: 10px;
                background: #fff;
            }
            &:before{
                content: "";
                position: absolute;
                left: 0;
                width: 33%;
                height: 1px;
                top: 10px;
                background: #fff;
            }
        }
    }
}
.panel-resetpass{
    max-width: 450px;
    margin: 60px auto 0;
    h3{
        text-align: center;
    }
    button{
        margin-top: 30px;
        max-width: none;
    }
}
.copyright a{
    color: #fff;
}