#member-app{
    //padding-bottom: 80px;
}
.member-dash{
    //display: flex;
    margin-top: 40px;
    .member-sidebar{
        border: 1px solid #eaeaea;
        margin-top: 20px;
        float: left;
        ul{
            padding: 0;
            width: 230px;
            margin: 0;
            li{
                border-left: 3px solid transparent;
                line-height: 45px;
                transition: all .3s ease;
                &.current{
                    border-color: $color-3;
                    background-color: #eaeaea;
                    a{
                        font-weight: 600;
                    }
                }
                a{
                    color: $text-color;
                    display: block;
                    padding-left: 30px;
                }
                &:hover{
                    background-color: #eaeaea;
                }
            }
        }
    }
    .member-dashcontent{
        padding: 0 25px;
        width: calc(100% - 240px);
        float: left;
        .block-title-big{
            font-weight: 300;
            font-size: 22px;
            // font-family: $font-family-graphik-regular;
        }
        table{
            margin-top: 10px;
        }
        .block-dashboard-info{
            margin-top: 60px;
            .block-title{
                padding-bottom: 10px;
                border-bottom: 1px solid #eaeaea;
                margin-bottom: 30px;
            }
            .block-content{
                margin-top: 35px;
            }
            .btn{
                margin-top: 30px;
                margin-bottom: 20px;
            }
        }
        .box-information, .box-newsletter{
            margin-top: 30px;
        }
        .order-head{
            background-color: $color-4;
            color: #fff;
        }
        .block-title-subs{
            padding-bottom: 10px;
            border-bottom: 1px solid #eaeaea;
            margin-top: 40px;
        }
        #subscription-form{
            .btn{
                float: left;
                margin-top: 20px;
            }
        }
        .wishlist-bottom-actions{
            .btn{
                display: inline;
                margin-top: 30px;
            }
            form{
                display: inline;
            }
        }
    }

}