.single-product{
    .heading-title-wrapper h1{
        font-style: italic;
    }
    .product-info-main{
        .product-name{
            font-family: $font-family-graphik-regular;
        }
        @media #{$tablet}{
            width: 40%;
            float: right;
        }
        .product-reviews-summary{
            .rating-summary{
                display: inline-block;
                vertical-align: middle      ;
                margin-right: 20px;
            }
            .reviews-actions{
                display: inline-block;
                vertical-align: middle;
                .action.add{
                    margin-left: 20px;
                }
            }
        }
        .product-info-price{
            display: table;
            width: 100%;
            margin-bottom: 15px;
            margin-top: 20px;
            border-bottom: 1px solid #eaeaea;
            padding-bottom: 15px;
            .price-box{
                display: table-cell;
                vertical-align: middle;
                font-size: 36px;
                //font-family: $font-family-graphik-black;
                font-weight: 700;
                .price-regular{
                    &.faded{
                        text-decoration: line-through;
                        margin-right: 20px;
                        color: #aeaeae;
                        font-size: 22px;
                    }
                }
                .price-reduced{
                    //color: $brand-red;
                }
            }
            .product-info-stock-sku{
                text-align: right;
                .stock{
                    margin-bottom: 3px;
                    font-weight: 700;
                    .not-in-stock{
                        color: $brand-red;
                    }
                }

            }
        }
        .available-colors-sizes{
            h3{
                font-style: italic;
                color: #AEAEAE;
            }
            .circle{
                width: 40px;
                height: 40px;
                margin-right: 5px;
                background-color: #f89a3c;
                display: inline-block;
                border-radius: 20px;
                cursor: pointer;
            }
            .av-colors{
                width: 50%;
                padding-right: 10px;
                #color{
                    label {
                        width: 40px;
                        margin-right:14px;
                    }
                    input.radio-color:empty {
                        margin-left: -9999px;
                        display:none;
                    }
                    input.radio-color:empty ~ label {
                        position: relative;
                        float: left;
                        line-height: 24px;
                        text-indent: 3.25em;
                        cursor: pointer;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        margin-bottom: 35px;
                    }
                    input.radio-color:empty ~ label:before {
                        position: absolute;
                        display: block;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        content: '';
                        width: 40px;
                        height:40px;
                        background: #cccccc;
                        border-radius: 50px;
                        border:4px solid #FFF;
                    }
                    /* toggle on */
                    input.radio-color:checked ~ label:before {
                        content:'';
                    }
                    .radio-color:checked~ label:after {
                        display: none;
                    }
                    input.radio-color ~ label:before {
                        background-color: $color-5;
                        margin-left:2px;
                    }

                    .radio-color:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $color-5;
                        -moz-box-shadow: 0px 0px 0px 1px $color-5;
                        box-shadow: 0px 0px 0px 1px $color-5;
                    }
                    input.radio-color.blue ~ label:before {
                        background-color: $color-2;
                        margin-left:2px;
                    }

                    .radio-color.blue:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $color-2;
                        -moz-box-shadow: 0px 0px 0px 1px $color-2;
                        box-shadow: 0px 0px 0px 1px $color-2;
                    }


                    input.radio-color.red ~ label:before {
                        background-color: $brand-red;
                    }

                    .radio-color.red:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $brand-red;
                        -moz-box-shadow: 0px 0px 0px 1px $brand-red;
                        box-shadow: 0px 0px 0px 1px $brand-red;
                    }

                    input.radio-color.purple ~ label:before {
                        background-color: #6654af;
                    }

                    .radio-color.purple:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px #6654af;
                        -moz-box-shadow: 0px 0px 0px 1px #6654af;
                        box-shadow: 0px 0px 0px 1px #6654af;
                    }

                    input.radio-color.green ~ label:before {
                        background-color: $brand-success;
                    }

                    .radio-color.green:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $brand-success;
                        -moz-box-shadow: 0px 0px 0px 1px $brand-success;
                        box-shadow: 0px 0px 0px 1px $brand-success;
                    }

                    input.radio-color.yellow ~ label:before {
                        background-color: $brand-warning;
                    }

                    .radio-color.yellow:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $brand-warning;
                        -moz-box-shadow: 0px 0px 0px 1px $brand-warning;
                        box-shadow: 0px 0px 0px 1px $brand-warning;
                    }
                    input.radio-color.black ~ label:before {
                        background-color: $text-color;
                    }

                    .radio-color.black:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $text-color;
                        -moz-box-shadow: 0px 0px 0px 1px $text-color;
                        box-shadow: 0px 0px 0px 1px $text-color;
                    }
                    input.radio-color.gray ~ label:before {
                        background-color: gray;
                    }

                    .radio-color.gray:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px gray;
                        -moz-box-shadow: 0px 0px 0px 1px gray;
                        box-shadow: 0px 0px 0px 1px gray;
                    }
                    input.radio-color.orange ~ label:before {
                        background-color: tomato;
                    }

                    .radio-color.orange:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px tomato;
                        -moz-box-shadow: 0px 0px 0px 1px tomato;
                        box-shadow: 0px 0px 0px 1px tomato;
                    }
                    input.radio-color.white ~ label:before {
                        background-color: #fff;
                        border-color: #eaeaea;
                    }

                    .radio-color.white:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $text-color;
                        -moz-box-shadow: 0px 0px 0px 1px $text-color;
                        box-shadow: 0px 0px 0px 1px $text-color;
                    }
                }
            }
            .av-sizes{
                float: right;
                width: 50%;
                padding-left: 10px;
                #sizes{
                    label {
                        width: 40px;
                        margin-right:14px;
                    }

                    input.radio-size:empty {
                        margin-left: -9999px;
                        display:none;
                    }

                    input.radio-size:empty ~ label {
                        position: relative;
                        float: left;
                        line-height: 44px;
                        //text-indent: 3.25em;
                        cursor: pointer;
                        padding-left: 12px;
                        text-align: center;
                        color: #fff;
                        font-weight: 600;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        margin-bottom: 15px;
                    }

                    input.radio-size:empty ~ label:before {
                        position: absolute;
                        display: block;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        content: '';
                        width: 40px;
                        height:40px;
                        background: $text-color;
                        border-radius: 50px;
                        border:4px solid #FFF;
                        z-index: -1;
                    }

                    /* toggle on */
                    input.radio-size:checked ~ label:before {
                        content:'';
                    }
                    .radio-size:checked~ label:after {
                        display: none;
                    }
                    input.radio-size ~ label:before {
                        background-color: $text-color;
                        margin-left:2px;
                    }

                    .radio-size:checked~ label:before {
                        -webkit-box-shadow: 0px 0px 0px 1px $text-color;
                        -moz-box-shadow: 0px 0px 0px 1px $text-color;
                        box-shadow: 0px 0px 0px 1px $text-color;
                    }


                    //input#radio2 ~ label:before {
                    //    background-color: #ffee71;
                    //}
                    //
                    //#radio2:checked~ label:before {
                    //    -webkit-box-shadow: 0px 0px 0px 1px #ffee71;
                    //    -moz-box-shadow: 0px 0px 0px 1px #ffee71;
                    //    box-shadow: 0px 0px 0px 1px #ffee71;
                    //}
                    //
                    //input#radio3 ~ label:before {
                    //    background-color: #6654af;
                    //}
                    //
                    //#radio3:checked~ label:before {
                    //    -webkit-box-shadow: 0px 0px 0px 1px #6654af;
                    //    -moz-box-shadow: 0px 0px 0px 1px #6654af;
                    //    box-shadow: 0px 0px 0px 1px #6654af;
                    //}
                    //
                    //input#radio4 ~ label:before {
                    //    background-color: #343434;
                    //}
                    //
                    //#radio4:checked~ label:before {
                    //    -webkit-box-shadow: 0px 0px 0px 1px #343434;
                    //    -moz-box-shadow: 0px 0px 0px 1px #343434;
                    //    box-shadow: 0px 0px 0px 1px #343434;
                    //}
                    //
                    //input#radio5 ~ label:before {
                    //    background-color: #dfdfdf;
                    //}
                    //
                    //#radio5:checked~ label:before {
                    //    -webkit-box-shadow: 0px 0px 0px 1px #dfdfdf;
                    //    -moz-box-shadow: 0px 0px 0px 1px #dfdfdf;
                    //    box-shadow: 0px 0px 0px 1px #dfdfdf;
                    //}
                }
            }
        }

        .product-size-qty{
            margin-top: 30px;
            h3{
                font-style: italic;
                color: #aeaeae;
            }
            .product-size{
                width: 50%;
            }
            .quantity{
                margin: 0;
                color: #b5b5b5;
                font-size: 12px;
                line-height: 14px;
                height: auto;
                float: left;
                display: inline-block;
                vertical-align: middle;
                position: relative;
                .minus, .plus{
                    font-size: 15px;
                    line-height: 47px;
                    height: 47px;
                    color: #40423a;
                    background-color: #f4f4f3;
                    border-width: 0px;
                    border-style: solid;
                    width: 47px;
                    padding: 0;
                    display: inline;
                    cursor: pointer;
                    outline: none;
                    transition: background-color .3s ease-in-out;
                    margin: 0 3px;
                    float: left;
                    &:hover{
                        color: #fff;
                        background-color: $text-color;
                    }
                    &:disabled{
                        cursor: auto;
                        &:hover{
                            background-color: #f4f4f3;
                            color: #40423a;
                        }
                    }
                }
                input[type="text"]{
                    font-size: 15px;
                    line-height: 47px;
                    height: 47px;
                    color: #40423a;
                    background-color: #f4f4f3;
                    border-width: 0px;
                    border-style: solid;
                    border-radius: 0px;
                    width: 47px;
                    position: relative;
                    display: inline;
                    padding: 0;
                    border: 0;
                    text-align: center;
                    float: left;
                    margin: 0 3px;
                }
            }
            .product-fav{
                font-size: 28px;
                width: 40px;
                height: 40px;
                padding-top: 8px;
                display: inline-block;
                text-align: center;
                float: right;
                a{
                    color: $brand-red;
                }
            }
        }
        .box-tocart-share{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .actions{
                display: inline-block;
            }
            .btn{
                display: inline-block;
                min-width: 150px;
            }
            .product-social-links{
                display: inline-block;
                float: right;
            }

        }

    }
    .product-media{
        text-align: center;
        img{
            max-width: 600px;
            max-height: 600px;
        }
        @media #{$tablet}{
            width: 57%;
            float: left;
        }
    }
    .product-wrapper{
        margin-bottom: 80px;
    }

}
.reviews{
    .review-item{
        padding: 40px 0;
        border-bottom:1px solid #eaeaea;
        .review-ratings {
            display: table;
            max-width: 100%;
            margin-bottom: 10px;
            .rating-summary{
                display: table-row;
                .rating-label{
                    display: table-cell;
                    vertical-align: top;
                    padding-top: 1px;
                    padding-right: 25px;
                    padding-bottom: 5px;
                }
                .rating-result{
                    width: 88px;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                }
            }
            @media #{$tablet}{
                max-width: 240px;
                float: left;
                margin-bottom: 0;
            }

        }
        .review-content {
            margin-bottom: 20px;
            @media #{$tablet}{
                margin-left: 280px;
            }

        }
        .review-title{
            margin-bottom: 30px;
        }
    }
    .review-form-wrapper{
        padding: 30px 0;
        .you-reviewing{
            font-size: 24px;
        }
        .btn{
            margin-top: 20px;
        }
        .radio-rating-group{
            .star-cb-group {
                font-size: 0;
                * {
                    font-size: 26px;
                    line-height: 36px;
                }
                unicode-bidi: bidi-override;
                direction: rtl;
                & > input {
                    display: none;
                    & + label {
                        /* only enough room for the star */
                        display: inline-block;
                        overflow: hidden;
                        text-indent: 9999px;
                        width: 36px;
                        white-space: nowrap;
                        cursor: pointer;
                        &:before {
                            display: inline-block;
                            text-indent: -9999px;
                            content: $unchecked-star;
                            color: $unchecked-color;
                            border: none;
                        }
                    }
                    &:checked ~ label:before,
                    & + label:hover ~ label:before,
                    & + label:hover:before {
                        content: $checked-star;
                        color: $checked-color;
                        text-shadow: 0 0 1px #333;
                    }
                    &:checked + label:after{
                        background: transparent;
                    }
                }

                /* the hidden clearer */
                & > .star-cb-clear + label {
                    text-indent: -9999px;
                    width: .5em;
                    margin-left: -.5em;
                }
                & > .star-cb-clear + label:before {
                    width: .5em;
                }

                &:hover > input + label:before {
                    content: $unchecked-star;
                    color: $unchecked-color;
                    text-shadow: none;
                }
                &:hover > input + label:hover ~ label:before,
                &:hover > input + label:hover:before {
                    content: $checked-star;
                    color: $checked-color;
                    text-shadow: 0 0 1px #333;
                }
            }
        }
    }
}

