.shop-page{
    .heading-title{
        margin-bottom: 20px;
    }
    #above-footer{
        margin-top: 70px;
    }

}
.shop-page-container{
    display: flex;
    .product-filters{
        width: 300px;
        padding: 20px;
        .filter-type{
            &.categories{
                margin-top: 40px;
            }
        }
        .filter-title {
            margin-bottom: 20px;
            padding-bottom: 12px;
            border-bottom: 1px solid #e1e7ec;
            color: #9da9b9;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
        }
        .checkbox-filter{
            margin-bottom: 5px;
            a{
                color: $text-color;
                &:hover{
                    color: $color-1;
                }
            }
        }
        .btn{
            width: 100%;
            height: 37px;
            margin-top: 30px;
        }

        /* Acordeon styles */
        .tab {
            position: relative;
            margin-bottom: 1px;
            width: 100%;
            overflow: hidden;
            input {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            label {
                position: relative;
                display: block;
                padding: 0;
                font-weight: bold;
                line-height: 3;
                cursor: pointer;
            }

        }
        .tab-content {
            max-height: 0;
            overflow: hidden;
            -webkit-transition: max-height .35s;
            -o-transition: max-height .35s;
            transition: max-height .35s;
        }
        /* :checked */
        .tab input:checked ~ .tab-content {
            max-height: 100vh;
        }
        /* Icon */
        .tab input[type=checkbox] + label::after {
            content: "";
            position: absolute;
            background-color: #9da9b9;
            -webkit-transition: all .25s ease-out;
            -moz-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
            top: 50%;
            right: 6px;
            width: 10px;
            height: 2px;
            margin-top: -1px;
        }
        .tab input[type=checkbox] + label::before {
            content: "";
            position: absolute;
            background-color: #9da9b9;
            -webkit-transition: all .25s ease-out;
            -moz-transition: all .25s ease-out;
            -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
            top: calc(50% - 5px);
            right: 10px;
            width: 2px;
            height: 10px;
        }
        .tab input[type=checkbox]:checked + label::after {
            transform: rotate(180deg);
        }
        .tab input[type=checkbox]:checked + label::before {
            transform: rotate(90deg);
        }
        //.tab input[type=checkbox]:checked + ul{
        //    margin-bottom: 30px;
        //}
        input[type="checkbox"], input[type="radio"]{
            &:before{
                content: '';
                border: none;
                background: transparent;
            }
        input[type="checkbox"]:checked + label:before,
        input[type="checkbox"]:not(:checked) + label:before{
            display: none;
            border: none;
            background: none;
        }
        }
        ul{
            padding-left: 10px;
            margin: 0;
        }
    }
    .product-grid-wrapper{
        padding: 20px;
        width: 100%;
        .product-grid-header{
            color: #9da9b9;
            margin-bottom: 30px;
            select{
                width: auto;
                margin: 0 20px 0 8px;
                border-radius: 20px;
            }
            .product-grid-header-span{
                color: #606975;
            }
            .float-right{
                float: right;
                margin-top: 4px;
                padding: 10px 20px;
                font-size: 16px;
                font-weight: 600;
                border-radius: 20px;
                border: 1px solid #eaeaea;
            }
        }
        .product-grid-flex{
            margin-top: 30px;
            @media #{$desktop}{
                display: flex;
            }
        }
        .product-pagination{
            margin: 60px auto;
            li{
                display: inline-block;
                width: 36px;
                height: 36px;
                font-size: 14px;
                font-weight: 500;
                line-height: 34px;
                text-align: center;
                margin-right: 3px;
                margin-left: 3px;
                a{
                    display: block;
                    width: 36px;
                    height: 36px;
                    transition: all .3s;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    color: #606975;
                    line-height: 34px;
                    text-decoration: none;
                    &:hover{
                        border-color: #e1e7ec;
                        background-color: #f5f5f5;
                    }
                }
                span{
                    display: block;
                    width: 36px;
                    height: 36px;
                    transition: all .3s;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    color: #606975;
                    line-height: 34px;
                    text-decoration: none;
                }
                &.active{
                    span{
                        border-color: $color-2;
                        background-color: $color-2;
                        color: #ffffff;
                    }
                }
            }
            .pagination{
                // display: flex;
                text-align: center;
                padding: 0;
            }
        }

    }
}
.product{
    padding: 20px;
    margin-bottom: 50px;
    h3{
        color: $text-color;
    }
    .btn {
        a{
            color: #fff;
        }
    }
    .product-desc{
        text-align: center;
        h3 a{
            color: $text-color;
        }
    }
    .product-img{
        position: relative;
        .sold-out{
            width: 200px;
            top: calc(50% - 60px);
            position: absolute;
            left: calc(50% - 100px);
        }
    }
    .product-fav{
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.4s ease;
        transition: opacity 0.4s ease;
        font-size: 25px;
        a{
            color: #d0d0d0;
        }
        button{
            color: #d0d0d0;
            background: transparent;
            border: none;
            cursor: pointer;
        }
    }
    .vrnr{
        position: absolute;
        top: 40px;
        left: 30px;
        font-size: 20px;
        background-color: #FFE526;
        padding: 13px;
        font-weight: 700;
        &.regular-price{
            background-color: #eaeaea;
        }
    }
    .new-product{
        position: absolute;
        top: 9px;
        left: 30px;
        font-size: 20px;
        background-color: $color-1;
        padding: 4px 13px 4px 26px;
        font-weight: 700;
        color: #fff;
        font-style: italic;
        font-family: $font-family-graphik-black;
        &:after{
            position: absolute;
            content: '';
            top: 0;
            width: 0;
            height: 0;
            right: -1rem;
            border-style: solid;
            -webkit-transform: rotate(360deg);
            border-width: 1.95rem 1rem 0 0;
            border-color: $color-1 transparent transparent;
        }
        &:before{
            position: absolute;
            content: '';
            top: 0;
            width: 0;
            height: 0;
            left: 0;
            border-style: solid;
            -webkit-transform: rotate(360deg);
            border-width: 1.95rem 1rem 0 0;
            border-color: #fff transparent transparent;
        }
    }
    .reduced{
        position: absolute;
        left: 30px;
        padding: 13px;
        top: 80px;
        text-decoration: line-through;
        font-weight: 600;
    }
    &:hover{
        box-shadow: 0 0 30px 0 rgba(51,51,51,.35);
        transition: box-shadow .4s ease-in-out;
        .product-fav{

            opacity: 1;
            &:hover a{
                color: $brand-red;
            }
            &:hover button{
                color: $text-color;
            }
            a{
                .fas{
                    opacity: 1;
                    color: $brand-red;
                }
            }
        }
    }
}