// Footer
footer {
    color: #9b9b9b;
    background-color: #fff;
    padding: 50px 0 20px;
    border-top: 1px solid #eaeaea;
    margin-top: 80px;
    .container{
        @media #{$lg-desktop}{
            max-width: 1000px;
        }
    }
    & ul{
        padding: 0;
        & li{
            list-style: none;
            line-height: normal;
            & a{
                color: $text-color;
                font-weight: 600;
                &:hover{
                    color: $color-2;
                }
            }
        }
    }
    h3{
        font-style: italic;
    }
    .below-footer{
        border-top: 1px solid #eaeaea;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 40px;

    }
    .footer-links-wrapper{
        margin-top: 60px;
    }
    .copyright{
        text-align: center;
        font-family: "Graphik Regular";
        font-size: 12px;
        display: inline-block;
        padding-top: 15px;
        a{
            color: #9b9b9b;
            &:hover{
                color: $color-1;
            }
        }
    }
}
.social-links{
    float: right;
    display: inline-block;
    a{
        color: gray;
        border: 1px solid gray;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        padding-top: 9px;
        display: inline-block;
        text-align: center;
        margin-left: 10px;
        &:hover{
            color: $color-1;
            border-color: $color-1;
        }
    }
}
//.page-home footer{
//    margin-top: 0;
//}
#above-footer{
    padding-top:50px;
    padding-bottom: 50px;
    background-color: #2574A9;
    color: #fff;
    .three-col-icon{
        display: flex;
        align-items: center;
        justify-content: center;
        .icon{
            font-size: 25px;
            margin-right: 25px;
            padding: 18px;
            border: 1px solid white;
            border-radius: 50%;
        }
        .three-col-icon-text{
            max-width: 200px;
        }
    }
    & + footer{
        margin-top: 0;
    }
}