// Header
.header{
    background-color: #fff;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    ul{
        margin: 0;
        padding: 0;
        li{
            float: left;
            padding: 15px;
            list-style: none;
            a{
                color: $text-color;
                &:hover{
                    color: $color-1;
                }
            }
        }
    }
    & #logo{
        max-width: 150px;
        display: inline-block;
        position: absolute;
        left: calc(50% - 75px);
        top: 23px;
    }
    .navbar-inline{
        display: inline-block;
        li{
            float: left;
            list-style: none;
            font-weight: 600;
            & a{
                color: $text-color;
                text-decoration: none;
                &:hover{
                    color: $color-3;
                }
            }
        }
    }
    .top-nav{
        font-size: 12px;
        position: relative;
        &:before, &:after{
            position: absolute;
            content: "";
            width: 40%;
            bottom: 0;
            height: 1px;
            background-color: #e5e5e5;
        }
        li{ 
            border-right: 1px solid #e5e5e5;
            a{
                text-transform: uppercase;
                font-size: 12px;
                i{
                    margin-right: 5px;
                }
            }
        }
        &:before{
            left: 0;
        }
        &:after{
            right: 0;
        }
        .top-nav-right{
            li{
                &:last-child{
                    border-right: none;
                }
            }
        }
    }

}
.success-message-modal{
    position: fixed;
    z-index: 999;
    width: 300px;
    right: 15px;
    background: #fff;
    top: 200px;
    text-align: center;
    padding: 0 50px 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    opacity: 1;
    transition: all .3s ease;
    i{
        font-size: 55px;
        color: #2AB27B;
        background: #fff;
        margin-top: -33px;
        border: 4px solid #fff;
        border-radius: 50%;
    }
}