<template>
    <div class="quantity">
        <input type="button" :disabled="qty < 2" value="-" class="minus" @click="decrement">
        <input type="text" step="1" min="0" name="qty" v-bind:value="qty" title="Qty" class="input-text qty" size="4" disabled>
        <input type="button" :disabled="qty >= stock" value="+" class="plus" @click="increment">
        <span class="out-of-stock" v-if="qty == stock">Max quantity reached</span>
        <input type="hidden" name="quantity" v-bind:value="qty">
    </div>
</template>    
<script>
export default{
    props:['numqty', 'inventory'],
    data: function(){
        return{
            qty: this.numqty,
            stock: this.inventory
        }
    },
    methods: {
        increment() {
            qty: this.qty += 1
        },
        decrement() {
            qty: this.qty -= 1
        }
    },
    mounted() {
        console.log(this.qty)
    }
}
</script>