<template>
    <span>
        <a href="#" v-if="isFavorited" @click.prevent="unFavorite(product)">
            <i class="fas fa-heart"></i>
        </a>
        <a href="#" v-else @click.prevent="favorite(product)">
            <i class="far fa-heart"></i>
        </a>
    </span>
</template>
<script>
    export default{
        props: ['product', 'favorited'],
        data: function () {
            return {
                isFavorited: this.favorited
            }
        },
        mounted(){
            this.isFavorited = this.isFavorited ? true : false;
        },
        methods: {
            favorite(product){
                axios.post('/favorite/'+product)
                    .then(response => {
                        this.isFavorited = true
                    })
                    .catch(error => {
                        window.location.href = '/login'
                    });
            },
            unFavorite(product){
                axios.post('/unfavorite/'+product)
                    .then(response => this.isFavorited = false)
                    .catch(response => console.log(response));
            }
        }
    }
</script>