<template>
  <el-tabs :tab-position="tabPosition" style="height: 200px;">
    <el-tab-pane label="Account">User</el-tab-pane>
    <el-tab-pane label="Account Information">Config</el-tab-pane>
    <el-tab-pane label="Addresses">Role</el-tab-pane>
    <el-tab-pane label="My Orders">Task</el-tab-pane>
    <el-tab-pane label="Subscription">Task</el-tab-pane>
    <el-tab-pane label="My Wishlist">Task</el-tab-pane>
  </el-tabs>
</template>
<script>
  export default {
    data() {
      return {
        tabPosition: 'left'
      };
    }
  };
</script>