<template>
  <span>
    <a @click.prevent="showModal" href="#" class="search-button">
      <i class="fas fa-search"></i>
    </a>
    <transition name="fade">
      <div v-if="modalShowed" class="search-modal">
        <div class="modal-wrapper">
          <div id="searchBar" class="search-input-wrap">
            <div @click="hideModal" class="close-modal">
              <i class="fas fa-times"></i>
            </div>

            <div class="form-group">
              <input
                @keyup="fetchProducts()"
                type="search"
                name="search"
                id="search"
                v-model="search"
                placeholder="search product"
                autofocus
              >
              <div id="searchInputHr" class="search-input-hr"></div>
            </div>
          </div>
          <div id="searchOutput" class="search-output-wrap">
            <!-- here goes list of products -->
            <a v-for="product in model" class="search-output-item" :href="/shop/+product.slug">
              <div class="search-product-image">
                <img :src="/storage/+product.product_image" :alt="product.name">
              </div>
              <span class="search-product-info">
                <span>
                  <span class="search-name">{{product.name}}</span>
                  <span class="br"></span>
                  <span class="search-price">${{product.price}}</span>
                </span>
              </span>
            </a>
            <p v-show="noProducts" class="noproducts">NO PRODUCTS FOUND</p>
          </div>
        </div>
      </div>
    </transition>
  </span>
</template>
<script>
export default {
  data: function() {
    return {
      modalShowed: false,
      model: [],
      search: "",
      noProducts: false
    };
  },
  methods: {
    fetchProducts() {
      if (this.search !== "") {
        axios
          .get("/search/" + this.search)
          .then(response => {
            if (response.data.model.length > 0) {
              this.noProducts = false;
              this.model = response.data.model;
            } else {
              this.noProducts = true;
              this.model = [];
            }
          })
          .catch(err => console.log(err));
      } else {
        this.model = [];
      }
    },
    showModal() {
      this.modalShowed = true;
      document.body.style.overflow = "hidden";
    },
    hideModal() {
      this.modalShowed = false;
      document.body.style.overflow = "";
    }
  }
};
</script>