.alert{
  padding:15px;
  margin-bottom: 20px;
  border:1px solid transparent;
  border-radius: 4px;
}
.alert-danger{
  color: #a94442;
  background-color: #f2dede;
  border-color: #d6e9c6;
}
.alert-success{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}