// Buttons
.btn{
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    height: 40px;
    min-width: 100px;
    max-width: 180px;
    transition: all .3s ease;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.06em;
    padding: 5px 15px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    font-weight: 700;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: linear-gradient(to left, #ea0d27 50%, #1c1c1c 50%);
    background-position: right bottom;
    background-size: 200% 100%;
    border: none;
    outline: none;
    &.white{
        background: linear-gradient(to left, transparent 50%, white 50%);
        background-position: right bottom;
        background-size: 200% 100%;
    }
    &.default{
        background: linear-gradient(to left, transparent 50%, #d0d0d0 50%);
        background-position: right bottom;
        background-size: 200% 100%;
        border: 1px solid #d0d0d0;
        color: #161616;
        font-weight: 600;
        span{
            margin-left: 10px;
            transition: all 0.3s ease;
        }
        &:hover span{
            margin-left: 15px;
        }
        &.light{
            color: #fff;
            border-color: #fff;
            svg{
                fill: #fff;
                transition: all .3s ease;
            }
            &:hover{
                color: $text-color;
                border-color: #d0d0d0;
                svg{
                    fill: $text-color;
                }
            }
        }
    }
    &.button-ok{
        height: 36px;
        max-width: 140px;
        margin-top: 30px;
    }
    &:hover{
        background-position: left bottom;
    }
}
