#featured-products{
    margin-top: 50px;
    margin-bottom: 50px;
    h2{
        font-size: 50px;
        text-align: center;
        color: $text-color;
        font-family: $font-family-graphik-black;
        text-transform: uppercase;
        span{
            color: $color-1;
        }

    }
    .featured-product-wrapper{
        display: flex;
        margin-top: 40px;

        .featured-product{
            text-align: center;
            padding-top: 30px;
            padding-bottom: 30px;
            background-color: #fff;
            margin-right: 20px;
            position: relative;
            .product-fav{
                position: absolute;
                top: 20px;
                right: 20px;
                opacity: 0;
                transition: opacity 0.4s ease;
                font-size: 25px;
                a{
                    color: #d0d0d0;
                }
            }
            &:hover{
                box-shadow: 0 0 30px 0 rgba(51,51,51,.35);
                transition: box-shadow .4s ease-in-out;
                .product-fav{
                    opacity: 1;
                    &:hover a{
                        color: $brand-red;

                    }
                    &:hover button{
                        color: $text-color;
                    }
                    a{
                        .fas{
                            opacity: 1;
                            color: $brand-red;
                        }
                    }
                }
            }
            &-img{
                padding: 0 15%;
            }
            & h3{
                font-size: 20px;
                padding: 0 50px;
            }
            & a{
                font-weight: 700;
                color: $text-color;
                &.btn{
                    color: #fff;
                }
            }
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}