form{
    input{
        width: 100%;
        padding: 10px;
        border: 1px solid #eaeaea;
        margin: 5px 0 15px;
        background-color: #fff;
        border-radius: 5px;
        outline: none;
        transition: all .3s ease;
        &:-webkit-autofill{
            background-color: #fff!important;
            -webkit-box-shadow: 0 0 0 30px white inset;
        }
        &:focus{
            border-color: $color-1;
        }
        &[type="radio"]{
            width: auto;
        }
        &[type="checkbox"], &[type="radio"]{
            &:checked, &:not(:checked){
                position: absolute;
                left: -9999px;
                border-radius: 4px;
            }
            &:checked + label, &:not(:checked) + label{
                position: relative;
                padding-left: 28px;
                cursor: pointer;
                line-height: 20px;
                display: inline-block;
                color: #666;
                &:before{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #ddd;
                    background: #fff;
                }
                &:after{
                    content: '';
                    width: 10px;
                    height: 10px;
                    background: $color-1;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    border-radius: 4px;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
            }
            &:not(:checked) + label:after{
                opacity: 0;
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -o-transform: scale(0);
                -ms-transform: scale(0);
                transform: scale(0);
            }
            &:checked + label:after{
                opacity: 1;
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}
textarea{
    width: 100%;
    resize: none;
    border: 1px solid #eaeaea;
    outline: none;
    margin: 5px 0 15px;
    border-radius: 5px;
    padding: 10px;
    transition: all .3s ease;
    &:focus{
        border-color: $color-1;
    }
}
select{
    width: 100%;
    padding: 10px;
    border: 1px solid #eaeaea;
    margin: 5px 0 15px;
    outline: none;
    background-color: #fff;
}
fieldset{
    border: none;
    padding: 10px 0 20px;
}
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
    border: medium none;
    vertical-align: middle;
    th{
        padding: 9px 12px;
        text-align: left;
        font-weight: 600;
        text-transform: uppercase;
    }
    td{
        border: none;
        font-weight: 500;
        text-align: left;
        
        padding: 6px 12px;
        vertical-align: middle;
    }
}
.newsletter-form{
    width: 520px;
    height: 42px;
    border-radius: 22.5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    //width: 300px;
    //height: 35px;
    margin: 0 auto;
    padding-left: 28px;
    border: 1px solid #ccc;
    border-radius: 17.5px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    input{
        width: 100%;
        padding: 0;
        padding-right: 10px;
        padding-bottom: 1px;
        color: #161616;
        border: 0;
        font-size: 16px;
        margin: 0;
    }
    button{
        position: relative;
        width: 115px;
        padding-top: 2px;
        padding-right: 15px;
        letter-spacing: 0;
        text-transform: uppercase;
        color: #161616;
        border: 0;
        border-left: 1.5px solid #ccc;
        border-top-right-radius: 17.5px;
        border-bottom-right-radius: 17.5px;
        background: transparent;
        font-size: 14px;
        cursor: pointer;
        outline: none;
        font-weight: 600;
        &:hover{
            svg{
                -webkit-transform: translateX(5px);
                transform: translateX(5px);
            }
        }
        @media #{$tablet}{
            width: 195px;
            padding-right: 5px;
        }
        svg{
            display: none;
            transition: all .3s ease;
            @media #{$tablet}{
                display: inline-block;
                margin-left: 10px;
            }
        }

    }
}
.inline-block > div{
    display: inline-block;
}