.might-also-like{
    padding: 70px 0;
    h2{
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 60px;
        span{
            color: $color-1;
        }
    }
}