/*---------- star rating ----------*/
%flex-display {
    display: flex;
}
.star-rating {
    @extend %flex-display;
    align-items: center;
    font-size: 20px;
    justify-content: center;
}
.back-stars {
    @extend %flex-display;
    color: #c7c7c7;
    position: relative;
    //text-shadow: 4px 4px 10px #843a3a;
}
.front-stars {
    @extend %flex-display;
    color: $brand-warning;
    overflow: hidden;
    position: absolute;
    //text-shadow: 2px 2px 5px #d29b09;
    top: 0;
}