.search-modal{
    //background-color: rgba(45, 45, 45, 0.9);
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    .modal-wrapper{
        position: relative;
        pointer-events: auto;
        height: 100%;
        width: 100%;
        overflow: hidden;
        .close-modal{
            color: #fff;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            font-size: 30px;
        }
        .search-input-wrap{
            position: relative;
            z-index: 14;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            height: 75px;
            padding: 0 20px;
            background: $color-1;
            @media #{$tablet}{
                height: 170px;
                padding: 0 20%;
            }
            .form-group{
                width: 100%;
            }
            #search{
                width: 80%;
                height: 35px;
                opacity: 1;
                color: #fff;
                border: 0;
                background: 0 0;
                font-size: 16px;
                outline: none;
                &::placeholder{
                    color: #eaeaea;
                }
                @media #{$tablet} {
                    width: 100%;
                    height: 65px;
                    font-size: 36px;
                }

            }
            #searchInputHr{
                width: 100%;
                height: 1px;
                background: #fff;
            }

        }
        .search-output-wrap{
            z-index: 12;
            //overflow-y: auto;
            height: 100%;
            padding-bottom: 250px;
            font-size: 18px;
            width: 100%;
            overflow-y: scroll;
            padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
            box-sizing: content-box;
            @media #{$tablet}{
                padding-bottom: 400px;
                font-size: 30px;
            }
            .search-output-item{
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-align-items: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                color: #fff;
                border-bottom: 1px solid #333;
                &:last-child{
                    margin-bottom: 169px;
                }
                &:hover{
                    span{
                        color: $color-1;
                    }
                    .search-product-info > span{
                        -webkit-transform: translateX(25px);
                        transform: translateX(25px);
                    }
                    .search-product-image {
                        img{
                            -webkit-transform: scale(1.1);
                            transform: scale(1.1);
                        }
                    }
                }
                .search-product-image{
                    width: 220px;
                    min-height:220px;
                    overflow: hidden;
                    background: #fff;
                    img{
                        display: block;
                        max-width: 90%;
                        height: auto;
                        vertical-align: bottom;
                        border-style: none;
                        transition: .5s;
                        margin: 0 auto;
                    }
                }
                .search-product-info{
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-flex: 1;
                    -ms-flex: 1;
                    flex: 1;
                    span{
                        padding-left: 40px;
                        display: block;
                        padding-right: 10px;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                        transition: transform .3s ease;
                        font-weight: 300;
                        &.search-price{
                            color: #aeaeae;
                        }
                    }
                }
            }
            .noproducts{
                text-align: center;
                color: #fff;
            }
        }
    }
}
input{
    &#search{
        background: none;
        border: none;
    }
}
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
.br:after{
    display: block;
    clear: both;
    content: "";
}