.cd-tabs {
    position: relative;
    width: 90%;
    max-width: 960px;
    margin: 2em auto;
}
//@supports (background: linear-gradient(to left, #000, #000)) or (background: -webkit-linear-gradient(to left, #000, #000)) {
    /* if linear-gradient is supported */
    .cd-tabs::after {
        /* subtle gradient layer on top right of the tabbed navigation- to indicate it's possible to scroll */
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 60px;
        width: 50px;
        z-index: 1;
        pointer-events: none;
        background: -webkit-gradient(linear, right top, left top, from(#f8f7ee), to(rgba(248, 247, 238, 0)));
        background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .3s 0s, visibility 0s 0s;
        transition: opacity .3s 0s, visibility 0s 0s;
    }
    .cd-tabs.cd-tabs--scroll-ended::after {
        /* class added in JavaScript - remove the gradient layer when it's no longer possible to scroll */
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
//}
.cd-tabs nav {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #f8f7ee;
    -webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
    .cd-tabs::after {
        display: none;
    }
    .cd-tabs nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
        box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
        z-index: 1;
    }
}
@media only screen and (min-width: 960px) {
    .cd-tabs nav {
        position: relative;
        float: none;
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.cd-tabs__navigation {
    width: 360px;
    padding: 0;
    margin: 0;
}

.cd-tabs__navigation:after {
    /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.cd-tabs__navigation li {
    float: left;
    &:first-child{
        a.cd-selected{
            border-left-color: #eaeaea;
        }
    }
    &:last-child{
        a.cd-selected{
            border-right-color: #eaeaea;
        }
    }
}

.cd-tabs__navigation a {
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    text-align: center;
    font-weight: 700;
    color: #c3c2b9;
    padding-top: 35px;
    border: 1px solid transparent;
    border-bottom-color: #eaeaea;
}

.cd-tabs__navigation a:hover {
    color: #29324e;
    background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs__navigation a.cd-selected {
    background-color: #fff;
    -webkit-box-shadow: inset 0 2px 0 $color-3;
    box-shadow: inset 0 2px 0 $color-3;
    color: #29324e;
    border-bottom-color: #fff;
}

@media only screen and (min-width: 768px) {
    .cd-tabs__navigation {
        /* move the nav to the left on medium sized devices */
        width: 80px;
        float: left;
    }
    .cd-tabs__navigation a {
        height: 80px;
        width: 80px;
        padding-top: 46px;
    }
    .cd-tabs__navigation a.cd-selected {
        -webkit-box-shadow: inset 0 2px 0 $color-3;
        box-shadow: inset 0 2px 0 $color-3;
    }
    .cd-tabs__navigation a::before {
        top: 24px;
    }
}

@media only screen and (min-width: 960px) {
    .cd-tabs__navigation {
        /* tabbed navigation on top on big devices */
        width: auto;
        background-color: #f8f7ee;
        -webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
        box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    }
    .cd-tabs__navigation a {
        height: 60px;
        line-height: 60px;
        width: auto;
        text-align: left;
        //font-size: 1.4rem;
        padding: 0 40px;
    }
    .cd-tabs__navigation a.cd-selected {
        -webkit-box-shadow: inset 0 2px 0 $color-3;
        box-shadow: inset 0 2px 0 $color-3;
    }
    .cd-tabs__navigation a::before {
        top: 50%;
        margin-top: -8px;
        margin-left: 0;
        left: 40px;
    }
}

.cd-tabs__content {
    background: #ffffff;
    padding: 0;
    border: 1px solid #eaeaea;
    margin: 0;
    margin-top: -1px;
}

.cd-tabs__content li {
    display: none;
    padding: 1.4em;
}

.cd-tabs__content li.cd-selected {
    display: block;
    -webkit-animation: cd-fade-in 0.5s;
    animation: cd-fade-in 0.5s;
}

.cd-tabs__content li p {
    font-size: 15px;
    line-height: 1.6;
}

@media only screen and (min-width: 768px) {
    .cd-tabs__content {
        min-height: 480px;
    }
    .cd-tabs__content li {
        padding: 2em 2em 2em 7em;
    }
}

@media only screen and (min-width: 960px) {
    .cd-tabs__content {
        min-height: 0;
    }
    .cd-tabs__content li {
        padding: 3em;
    }
    .cd-tabs__content li p {
        font-size: 17px;
    }
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
