@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900);@import url(https://use.fontawesome.com/releases/v5.0.9/css/all.css);@charset "UTF-8";
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  max-width: 100%;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Graphik Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Graphik-Regular.eot");
  src: url("../../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Regular.woff2") format("woff2"), url("../../fonts/Graphik-Regular.woff") format("woff"), url("../../fonts/Graphik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik Black";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Graphik-Black.eot");
  src: url("../../fonts/Graphik-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Black.woff2") format("woff2"), url("../../fonts/Graphik-Black.woff") format("woff"), url("../../fonts/Graphik-Black.ttf") format("truetype");
}

.btn {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  height: 40px;
  min-width: 100px;
  max-width: 180px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.06em;
  padding: 5px 15px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  font-weight: 700;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ea0d27), color-stop(50%, #1c1c1c));
  background: linear-gradient(to left, #ea0d27 50%, #1c1c1c 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  border: none;
  outline: none;
}

.btn.white {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, white));
  background: linear-gradient(to left, transparent 50%, white 50%);
  background-position: right bottom;
  background-size: 200% 100%;
}

.btn.default {
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, transparent), color-stop(50%, #d0d0d0));
  background: linear-gradient(to left, transparent 50%, #d0d0d0 50%);
  background-position: right bottom;
  background-size: 200% 100%;
  border: 1px solid #d0d0d0;
  color: #161616;
  font-weight: 600;
}

.btn.default span {
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn.default:hover span {
  margin-left: 15px;
}

.btn.default.light {
  color: #fff;
  border-color: #fff;
}

.btn.default.light svg {
  fill: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.btn.default.light:hover {
  color: #2D2D2D;
  border-color: #d0d0d0;
}

.btn.default.light:hover svg {
  fill: #2D2D2D;
}

.btn.button-ok {
  height: 36px;
  max-width: 140px;
  margin-top: 30px;
}

.btn:hover {
  background-position: left bottom;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #d6e9c6;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

#featured-products {
  margin-top: 50px;
  margin-bottom: 50px;
}

#featured-products h2 {
  font-size: 50px;
  text-align: center;
  color: #2D2D2D;
  font-family: "Graphik Black";
  text-transform: uppercase;
}

#featured-products h2 span {
  color: #2574A9;
}

#featured-products .featured-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

#featured-products .featured-product-wrapper .featured-product {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  margin-right: 20px;
  position: relative;
}

#featured-products .featured-product-wrapper .featured-product .product-fav {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  font-size: 25px;
}

#featured-products .featured-product-wrapper .featured-product .product-fav a {
  color: #d0d0d0;
}

#featured-products .featured-product-wrapper .featured-product:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.35);
          box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.35);
  -webkit-transition: -webkit-box-shadow .4s ease-in-out;
  transition: -webkit-box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out, -webkit-box-shadow .4s ease-in-out;
}

#featured-products .featured-product-wrapper .featured-product:hover .product-fav {
  opacity: 1;
}

#featured-products .featured-product-wrapper .featured-product:hover .product-fav:hover a {
  color: #eb1c26;
}

#featured-products .featured-product-wrapper .featured-product:hover .product-fav:hover button {
  color: #2D2D2D;
}

#featured-products .featured-product-wrapper .featured-product:hover .product-fav a .fas {
  opacity: 1;
  color: #eb1c26;
}

#featured-products .featured-product-wrapper .featured-product-img {
  padding: 0 15%;
}

#featured-products .featured-product-wrapper .featured-product h3 {
  font-size: 20px;
  padding: 0 50px;
}

#featured-products .featured-product-wrapper .featured-product a {
  font-weight: 700;
  color: #2D2D2D;
}

#featured-products .featured-product-wrapper .featured-product a.btn {
  color: #fff;
}

#featured-products .featured-product-wrapper .featured-product:last-of-type {
  margin-right: 0;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 5px 0 15px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

form input:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

form input:focus {
  border-color: #2574A9;
}

form input[type="radio"] {
  width: auto;
}

form input[type="checkbox"]:checked, form input[type="checkbox"]:not(:checked), form input[type="radio"]:checked, form input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  border-radius: 4px;
}

form input[type="checkbox"]:checked + label, form input[type="checkbox"]:not(:checked) + label, form input[type="radio"]:checked + label, form input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

form input[type="checkbox"]:checked + label:before, form input[type="checkbox"]:not(:checked) + label:before, form input[type="radio"]:checked + label:before, form input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  background: #fff;
}

form input[type="checkbox"]:checked + label:after, form input[type="checkbox"]:not(:checked) + label:after, form input[type="radio"]:checked + label:after, form input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #2574A9;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form input[type="checkbox"]:not(:checked) + label:after, form input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

form input[type="checkbox"]:checked + label:after, form input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

textarea {
  width: 100%;
  resize: none;
  border: 1px solid #eaeaea;
  outline: none;
  margin: 5px 0 15px;
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

textarea:focus {
  border-color: #2574A9;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 5px 0 15px;
  outline: none;
  background-color: #fff;
}

fieldset {
  border: none;
  padding: 10px 0 20px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  border: medium none;
  vertical-align: middle;
}

table th {
  padding: 9px 12px;
  text-align: left;
  font-weight: 600;
  text-transform: uppercase;
}

table td {
  border: none;
  font-weight: 500;
  text-align: left;
  padding: 6px 12px;
  vertical-align: middle;
}

.newsletter-form {
  width: 520px;
  height: 42px;
  border-radius: 22.5px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 28px;
  border: 1px solid #ccc;
  border-radius: 17.5px;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.newsletter-form input {
  width: 100%;
  padding: 0;
  padding-right: 10px;
  padding-bottom: 1px;
  color: #161616;
  border: 0;
  font-size: 16px;
  margin: 0;
}

.newsletter-form button {
  position: relative;
  width: 115px;
  padding-top: 2px;
  padding-right: 15px;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #161616;
  border: 0;
  border-left: 1.5px solid #ccc;
  border-top-right-radius: 17.5px;
  border-bottom-right-radius: 17.5px;
  background: transparent;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
}

.newsletter-form button:hover svg {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}

@media all and (min-width: 768px) {
  .newsletter-form button {
    width: 195px;
    padding-right: 5px;
  }
}

.newsletter-form button svg {
  display: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media all and (min-width: 768px) {
  .newsletter-form button svg {
    display: inline-block;
    margin-left: 10px;
  }
}

.inline-block > div {
  display: inline-block;
}

/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star-rating {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-stars {
  color: #c7c7c7;
  position: relative;
}

.front-stars {
  color: #ffe526;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.cd-tabs {
  position: relative;
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
}

/* if linear-gradient is supported */
.cd-tabs::after {
  /* subtle gradient layer on top right of the tabbed navigation- to indicate it's possible to scroll */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-gradient(linear, right top, left top, from(#f8f7ee), to(rgba(248, 247, 238, 0)));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-tabs.cd-tabs--scroll-ended::after {
  /* class added in JavaScript - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  -webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}

@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}

@media only screen and (min-width: 960px) {
  .cd-tabs nav {
    position: relative;
    float: none;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.cd-tabs__navigation {
  width: 360px;
  padding: 0;
  margin: 0;
}

.cd-tabs__navigation:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-tabs__navigation li {
  float: left;
}

.cd-tabs__navigation li:first-child a.cd-selected {
  border-left-color: #eaeaea;
}

.cd-tabs__navigation li:last-child a.cd-selected {
  border-right-color: #eaeaea;
}

.cd-tabs__navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 60px;
  text-align: center;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 35px;
  border: 1px solid transparent;
  border-bottom-color: #eaeaea;
}

.cd-tabs__navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}

.cd-tabs__navigation a.cd-selected {
  background-color: #fff;
  -webkit-box-shadow: inset 0 2px 0 #1090A4;
  box-shadow: inset 0 2px 0 #1090A4;
  color: #29324e;
  border-bottom-color: #fff;
}

@media only screen and (min-width: 768px) {
  .cd-tabs__navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs__navigation a {
    height: 80px;
    width: 80px;
    padding-top: 46px;
  }
  .cd-tabs__navigation a.cd-selected {
    -webkit-box-shadow: inset 0 2px 0 #1090A4;
    box-shadow: inset 0 2px 0 #1090A4;
  }
  .cd-tabs__navigation a::before {
    top: 24px;
  }
}

@media only screen and (min-width: 960px) {
  .cd-tabs__navigation {
    /* tabbed navigation on top on big devices */
    width: auto;
    background-color: #f8f7ee;
    -webkit-box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
  }
  .cd-tabs__navigation a {
    height: 60px;
    line-height: 60px;
    width: auto;
    text-align: left;
    padding: 0 40px;
  }
  .cd-tabs__navigation a.cd-selected {
    -webkit-box-shadow: inset 0 2px 0 #1090A4;
    box-shadow: inset 0 2px 0 #1090A4;
  }
  .cd-tabs__navigation a::before {
    top: 50%;
    margin-top: -8px;
    margin-left: 0;
    left: 40px;
  }
}

.cd-tabs__content {
  background: #ffffff;
  padding: 0;
  border: 1px solid #eaeaea;
  margin: 0;
  margin-top: -1px;
}

.cd-tabs__content li {
  display: none;
  padding: 1.4em;
}

.cd-tabs__content li.cd-selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}

.cd-tabs__content li p {
  font-size: 15px;
  line-height: 1.6;
}

@media only screen and (min-width: 768px) {
  .cd-tabs__content {
    min-height: 480px;
  }
  .cd-tabs__content li {
    padding: 2em 2em 2em 7em;
  }
}

@media only screen and (min-width: 960px) {
  .cd-tabs__content {
    min-height: 0;
  }
  .cd-tabs__content li {
    padding: 3em;
  }
  .cd-tabs__content li p {
    font-size: 17px;
  }
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.might-also-like {
  padding: 70px 0;
}

.might-also-like h2 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.might-also-like h2 span {
  color: #2574A9;
}

.search-modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.search-modal .modal-wrapper {
  position: relative;
  pointer-events: auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.search-modal .modal-wrapper .close-modal {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 30px;
}

.search-modal .modal-wrapper .search-input-wrap {
  position: relative;
  z-index: 14;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  height: 75px;
  padding: 0 20px;
  background: #2574A9;
}

@media all and (min-width: 768px) {
  .search-modal .modal-wrapper .search-input-wrap {
    height: 170px;
    padding: 0 20%;
  }
}

.search-modal .modal-wrapper .search-input-wrap .form-group {
  width: 100%;
}

.search-modal .modal-wrapper .search-input-wrap #search {
  width: 80%;
  height: 35px;
  opacity: 1;
  color: #fff;
  border: 0;
  background: 0 0;
  font-size: 16px;
  outline: none;
}

.search-modal .modal-wrapper .search-input-wrap #search::-webkit-input-placeholder {
  color: #eaeaea;
}

.search-modal .modal-wrapper .search-input-wrap #search:-ms-input-placeholder {
  color: #eaeaea;
}

.search-modal .modal-wrapper .search-input-wrap #search::-ms-input-placeholder {
  color: #eaeaea;
}

.search-modal .modal-wrapper .search-input-wrap #search::placeholder {
  color: #eaeaea;
}

@media all and (min-width: 768px) {
  .search-modal .modal-wrapper .search-input-wrap #search {
    width: 100%;
    height: 65px;
    font-size: 36px;
  }
}

.search-modal .modal-wrapper .search-input-wrap #searchInputHr {
  width: 100%;
  height: 1px;
  background: #fff;
}

.search-modal .modal-wrapper .search-output-wrap {
  z-index: 12;
  height: 100%;
  padding-bottom: 250px;
  font-size: 18px;
  width: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media all and (min-width: 768px) {
  .search-modal .modal-wrapper .search-output-wrap {
    padding-bottom: 400px;
    font-size: 30px;
  }
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
          align-items: stretch;
  color: #fff;
  border-bottom: 1px solid #333;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item:last-child {
  margin-bottom: 169px;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item:hover span {
  color: #2574A9;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item:hover .search-product-info > span {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item:hover .search-product-image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item .search-product-image {
  width: 220px;
  min-height: 220px;
  overflow: hidden;
  background: #fff;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item .search-product-image img {
  display: block;
  max-width: 90%;
  height: auto;
  vertical-align: bottom;
  border-style: none;
  -webkit-transition: .5s;
  transition: .5s;
  margin: 0 auto;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item .search-product-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex: 1;
  -webkit-box-flex: 1;
          flex: 1;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item .search-product-info span {
  padding-left: 40px;
  display: block;
  padding-right: 10px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  font-weight: 300;
}

.search-modal .modal-wrapper .search-output-wrap .search-output-item .search-product-info span.search-price {
  color: #aeaeae;
}

.search-modal .modal-wrapper .search-output-wrap .noproducts {
  text-align: center;
  color: #fff;
}

input#search {
  background: none;
  border: none;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.br:after {
  display: block;
  clear: both;
  content: "";
}

footer {
  color: #9b9b9b;
  background-color: #fff;
  padding: 50px 0 20px;
  border-top: 1px solid #eaeaea;
  margin-top: 80px;
}

@media all and (min-width: 1200px) {
  footer .container {
    max-width: 1000px;
  }
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style: none;
  line-height: normal;
}

footer ul li a {
  color: #2D2D2D;
  font-weight: 600;
}

footer ul li a:hover {
  color: #1E8BC3;
}

footer h3 {
  font-style: italic;
}

footer .below-footer {
  border-top: 1px solid #eaeaea;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
}

footer .footer-links-wrapper {
  margin-top: 60px;
}

footer .copyright {
  text-align: center;
  font-family: "Graphik Regular";
  font-size: 12px;
  display: inline-block;
  padding-top: 15px;
}

footer .copyright a {
  color: #9b9b9b;
}

footer .copyright a:hover {
  color: #2574A9;
}

.social-links {
  float: right;
  display: inline-block;
}

.social-links a {
  color: gray;
  border: 1px solid gray;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  padding-top: 9px;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
}

.social-links a:hover {
  color: #2574A9;
  border-color: #2574A9;
}

#above-footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2574A9;
  color: #fff;
}

#above-footer .three-col-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#above-footer .three-col-icon .icon {
  font-size: 25px;
  margin-right: 25px;
  padding: 18px;
  border: 1px solid white;
  border-radius: 50%;
}

#above-footer .three-col-icon .three-col-icon-text {
  max-width: 200px;
}

#above-footer + footer {
  margin-top: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.container--small {
  max-width: 695px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.header {
  background-color: #fff;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
}

.header ul {
  margin: 0;
  padding: 0;
}

.header ul li {
  float: left;
  padding: 15px;
  list-style: none;
}

.header ul li a {
  color: #2D2D2D;
}

.header ul li a:hover {
  color: #2574A9;
}

.header #logo {
  max-width: 150px;
  display: inline-block;
  position: absolute;
  left: calc(50% - 75px);
  top: 23px;
}

.header .navbar-inline {
  display: inline-block;
}

.header .navbar-inline li {
  float: left;
  list-style: none;
  font-weight: 600;
}

.header .navbar-inline li a {
  color: #2D2D2D;
  text-decoration: none;
}

.header .navbar-inline li a:hover {
  color: #1090A4;
}

.header .top-nav {
  font-size: 12px;
  position: relative;
}

.header .top-nav:before, .header .top-nav:after {
  position: absolute;
  content: "";
  width: 40%;
  bottom: 0;
  height: 1px;
  background-color: #e5e5e5;
}

.header .top-nav li {
  border-right: 1px solid #e5e5e5;
}

.header .top-nav li a {
  text-transform: uppercase;
  font-size: 12px;
}

.header .top-nav li a i {
  margin-right: 5px;
}

.header .top-nav:before {
  left: 0;
}

.header .top-nav:after {
  right: 0;
}

.header .top-nav .top-nav-right li:last-child {
  border-right: none;
}

.success-message-modal {
  position: fixed;
  z-index: 999;
  width: 300px;
  right: 15px;
  background: #fff;
  top: 200px;
  text-align: center;
  padding: 0 50px 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 2px;
  opacity: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.success-message-modal i {
  font-size: 55px;
  color: #2AB27B;
  background: #fff;
  margin-top: -33px;
  border: 4px solid #fff;
  border-radius: 50%;
}

.contact-page .contact-form-container {
  max-width: 900px;
}

.contact-page footer {
  border-top: 1px solid #eaeaea;
  margin-top: 70px;
}

.contact-page .btn-submit {
  margin-top: 40px;
}

#hero-home {
  background-image: url("https://www.pumasikkerhedssko.dk/img/index/elevate-knit-green-low-sikkerhedssko-full.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#categories-home {
  background-color: #f4f4f4;
  padding: 60px 0;
}

#categories-home .categories-home-h5 {
  position: relative;
  font-size: 17px;
  letter-spacing: 0.04em;
  font-family: "Graphik Black";
  color: #5d5d5d;
  padding-left: 80px;
}

#categories-home .categories-home-h5:before {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #2574A9;
  left: 0;
  top: 8px;
}

#categories-home .home-cat {
  position: relative;
  text-align: center;
  color: #fff;
}

#categories-home .home-cat .home-cat-wrap {
  padding: 20px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#categories-home .home-cat .home-cat-wrap:hover .home-cat-overlay {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

#categories-home .home-cat .home-cat-wrap:hover .home-cat-overlay::before {
  opacity: 0.65;
}

#categories-home .home-cat h5 {
  z-index: 10;
  font-size: 40px;
  position: relative;
  padding: 40px 0;
  font-family: "Graphik Black";
}

#categories-home .home-cat p {
  z-index: 10;
  position: relative;
}

#categories-home .home-cat .btn {
  float: right;
  margin-top: -47px;
  margin-right: 150px;
  position: relative;
  z-index: 10;
  padding: 5px 25px;
}

#categories-home .home-cat a:not(.btn) {
  color: #fff;
}

#categories-home .home-cat-overlay {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#categories-home .home-cat-overlay:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  content: "";
  opacity: 0.85;
  background: #4954de;
  background: linear-gradient(135deg, #4954de 0%, #49ddd8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4954de', endColorstr='#49ddd8',GradientType=1 );
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#categories-home .home-cat-sale .home-cat-overlay {
  background-image: url("/images/sales-black.jpg");
}

#categories-home .home-cat-women .home-cat-overlay {
  background-image: url("/images/cat-women-black.jpg");
}

#categories-home .home-cat-men .home-cat-overlay {
  background-image: url("/images/cat-men-black.jpg");
}

#categories-home .home-cat-summer .home-cat-wrap {
  padding-left: 10%;
  padding-top: 45px;
  padding-bottom: 70px;
}

#categories-home .home-cat-summer .home-cat-wrap .home-cat-overlay {
  background-image: url("/images/sport-equipment-black.jpg");
  background-position: bottom;
}

#categories-home .home-cat-summer {
  margin-top: 30px;
  text-align: left;
}

#categories-home .home-cat-summer h5 {
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 15px;
}

#discount-home {
  text-align: center;
  padding: 70px 0;
  color: #fff;
  background: #ffae27;
  background: linear-gradient(135deg, #ffae27 0%, #de496d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae27', endColorstr='#de496d',GradientType=1 );
}

#discount-home h3 {
  font-size: 40px;
  font-family: "Graphik Black";
  letter-spacing: 0.04em;
}

.home-product {
  background-color: #f4f4f4;
  padding-top: 70px;
  padding-bottom: 50px;
}

.home-product .index-flex-motion-img {
  margin-right: 16%;
  position: relative;
}

.home-product .index-flex-motion-img img {
  display: block;
}

.home-product .index-flex-motion-wrap {
  position: relative;
}

.home-product .index-flex-motion-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 40px 0;
  background: #fff;
}

.home-product .index-flex-motion-info h2 {
  color: #2D2D2D;
  font-family: "Graphik Black";
  font-size: 26px;
}

@media all and (min-width: 768px) {
  .home-product .index-flex-motion-info h2 {
    font-size: 30px;
  }
}

@media all and (min-width: 1200px) {
  .home-product .index-flex-motion-info h2 {
    font-size: 36px;
  }
}

.home-product .index-flex-motion-info p {
  margin: 30px 0;
  text-align: center;
  font-size: 14px;
}

@media all and (min-width: 768px) {
  .home-product .index-flex-motion-info p {
    font-size: 16px;
  }
}

@media all and (min-width: 1200px) {
  .home-product .index-flex-motion-info p {
    text-align: left;
    max-width: 300px;
  }
}

@media all and (max-width: 480px) {
  .home-product .index-flex-motion-info {
    position: relative;
    z-index: 1;
    margin-top: -20px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media all and (min-width: 768px) {
  .home-product .index-flex-motion-info {
    z-index: 1;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

@media all and (min-width: 992px) {
  .home-product .index-flex-motion-info {
    position: absolute;
    right: 0;
    bottom: 0;
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start;
    width: 350px;
    padding: 60px 0 60px 25px;
  }
}

@media all and (min-width: 1200px) {
  .home-product .index-flex-motion-info {
    width: 417px;
    padding: 60px 0 60px 40px;
  }
}

.home-product.two .index-flex-motion-img {
  margin-right: 0;
  margin-left: 16%;
}

.home-product.two .index-flex-motion-img:after {
  background: linear-gradient(-45deg, #ec5252, #6e1a52);
}

.home-product.two .index-flex-motion-info {
  left: 0;
  right: auto;
}

#popular-brands {
  padding-top: 50px;
  padding-bottom: 50px;
}

#popular-brands h2 {
  font-size: 50px;
  text-align: center;
  color: #2D2D2D;
  font-family: "Graphik Black";
  text-transform: uppercase;
}

#popular-brands h2 span {
  color: #2574A9;
}

#popular-brands .brand-list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#popular-brands .brand-list li {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 20px;
}

#popular-brands .brand-list li img {
  max-width: 120px;
}

.subscription {
  margin-bottom: 80px;
  text-align: center;
}

.subscription h2 {
  color: #2D2D2D;
  font-size: 30px;
}

.subscription p {
  max-width: 400px;
  margin: 0 auto 40px;
}

.divider {
  height: 80px;
  background-color: #eaeaea;
}

.page-404 {
  text-align: center;
}

.page-404 .pnf-heading {
  font-size: 100px;
  font-weight: bold;
  line-height: .09;
  text-align: center;
  color: #2574A9;
  margin-bottom: 0;
  text-shadow: 0 6px 0 rgba(153, 153, 153, 0.35);
  -webkit-text-stroke: 3px #fff;
}

@media all and (min-width: 768px) {
  .page-404 .pnf-heading {
    font-size: 200px;
    text-shadow: 0 15px 0 rgba(153, 153, 153, 0.35);
    -webkit-text-stroke: 8px #fff;
  }
}

.page-404 .text-wrap {
  background-color: #edf0f5;
  padding: 65px 15px 50px;
}

@media all and (min-width: 768px) {
  .page-404 .text-wrap {
    padding-top: 105px;
    padding-bottom: 70px;
  }
}

.page-404 .text-wrap h1 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #2574A9;
  margin-top: 0;
  margin-bottom: 25px;
}

@media all and (min-width: 768px) {
  .page-404 .text-wrap h1 {
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 45px;
  }
}

.page-404 .text-wrap a {
  text-transform: uppercase;
  color: #2D2D2D;
  font-weight: bold;
}

.page-404 .home-link {
  background-color: #2574A9;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  top: -40px;
  margin: 0;
}

.page-404 .home-link a {
  color: #fff;
  background: #444;
  display: inline-block;
  margin: 20px;
  padding: 12px 20px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

.cart-container {
  max-width: 1100px;
}

.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
  border: medium none;
  vertical-align: middle;
}

.table tr {
  border: 1px solid #e5e5e5;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
}

.table tr:nth-child(odd) td {
  background: transparent;
}

.table th {
  padding: 13px 10px;
  font-size: 17px;
  line-height: 1.5;
  font-weight: 700;
  color: #393939;
}

.table td {
  vertical-align: middle;
  padding: 5px 10px;
}

.table td.product-remove {
  text-align: center;
  border-right: 1px solid #e0dede;
}

.table td.product-remove button {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.table td a {
  color: #aeaeae;
}

.table td img {
  display: block;
  width: 66px;
}

.table td .quantity {
  margin: 0;
  color: #b5b5b5;
  font-size: 12px;
  line-height: 14px;
  height: auto;
  float: left;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.table td .quantity .minus, .table td .quantity .plus {
  font-size: 15px;
  line-height: 47px;
  height: 47px;
  color: #40423a;
  background-color: #f4f4f3;
  border-width: 0px;
  border-style: solid;
  width: 47px;
  padding: 0;
  display: inline;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  margin: 0 3px;
  float: left;
}

.table td .quantity .minus:hover, .table td .quantity .plus:hover {
  color: #fff;
  background-color: #2D2D2D;
}

.table td .quantity .minus:disabled, .table td .quantity .plus:disabled {
  cursor: auto;
}

.table td .quantity .minus:disabled:hover, .table td .quantity .plus:disabled:hover {
  background-color: #f4f4f3;
  color: #40423a;
}

.table td .quantity input[type="text"] {
  font-size: 15px;
  line-height: 47px;
  height: 47px;
  color: #40423a;
  background-color: #f4f4f3;
  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  width: 47px;
  position: relative;
  display: inline;
  padding: 0;
  border: 0;
  text-align: center;
  float: left;
  margin: 0 3px;
}

.page-cart .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-cart .actions input {
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
}

.page-cart .actions input[type="text"] {
  background-color: #eaeaea;
  color: #2D2D2D;
  font-size: 13px;
  outline: 0;
  color: #40423a;
  width: 178px;
  margin-right: 15px;
  padding: 0 13px;
  height: 37px;
  position: relative;
  border: none;
}

.page-cart .actions input[type="submit"] {
  position: relative;
  top: 3px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 47px;
  letter-spacing: 0px;
  font-style: italic;
  text-transform: capitalize;
  color: #40423a;
  background-color: #eaeaea;
  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  padding-left: 37px;
  padding-right: 37px;
  cursor: pointer;
}

.page-cart .actions input[type="submit"].checkout-button {
  margin-left: 15px;
  background-color: #1090A4;
  color: #fff;
}

.page-cart .actions input[type="submit"].checkout-button:hover {
  background-color: #15b9d2;
}

.page-cart .actions input[type="submit"]:hover {
  background-color: #b7b7b7;
  color: #fff;
}

.page-cart .cart_totals {
  float: right;
  width: 345px;
}

.page-cart .cart_totals h3 {
  font-size: 19px;
  margin-bottom: 25px;
  letter-spacing: 0;
  text-transform: none;
  font-family: "Graphik Black";
}

.page-cart .cart_totals table {
  text-align: left;
  width: 100%;
}

.page-cart .cart_totals table th {
  color: #aeaeae;
}

.page-cart .cart_totals table td {
  padding: 6px;
}

.page-cart .cart_totals table .cart-discount form {
  display: inline-block;
}

.page-cart .cart_totals table .cart-discount button {
  background: none;
  border: none;
  color: #bf5329;
  cursor: pointer;
}

.page-cart .cart_totals table .cart-discount td {
  padding-left: 0;
  color: #bf5329;
}

.page-cart .cart_totals table .new-subtotal td {
  border-top: 1px solid #aeaeae;
}

.page-cart .cart_totals table .order-total td {
  font-size: 22px;
}

.no-items-in-cart {
  text-align: center;
}

.no-items-in-cart .btn {
  margin-top: 40px;
  margin-bottom: 70px;
}

.out-of-stock {
  position: absolute;
  color: #bf5329;
  bottom: -15px;
  left: 3px;
  display: block;
}

.wishlist-table {
  text-align: center;
  margin: 90px 0 60px;
}

@media all and (min-width: 768px) {
  .wishlist-table h3 {
    font-size: 24px;
  }
}

.billing-details {
  width: 49%;
  margin-right: 1%;
}

.order-details {
  width: 49%;
  margin-left: 1%;
}

.order-details .order-total span {
  font-size: 24px;
}

.order-details .order-total th {
  font-weight: 700;
  color: #2D2D2D;
}

.order-details .order-total td, .order-details .order-total th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-details table.review-order-table tr {
  border-bottom: 1px #d7d7d7 solid;
}

.order-details table.review-order-table th {
  color: #888;
  border-bottom: 1px solid #d7d7d7;
  font-weight: 600;
}

.order-details table.review-order-table td {
  color: #2D2D2D;
}

.order-details table.review-order-table .cart_item .product-name {
  padding-left: 25px;
}

.order-details table.review-order-table .cart-discount td {
  padding-left: 5px;
  color: #bf5329;
}

.order-details table tfoot th {
  font-weight: 500;
  color: #444;
  text-transform: capitalize;
  border-top: 1px solid #d7d7d7;
}

.order-details input[type="submit"] {
  background-color: #2574A9;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}

.order-details input[type="submit"]:hover {
  background-color: #1E8BC3;
}

.order-details input[type="submit"]:disabled {
  background-color: #59a7db;
  cursor: not-allowed;
}

.order-details ul {
  padding-left: 0;
}

.order-details ul li {
  margin-top: 15px;
}

.order-details .payment_box {
  outline: 1px solid #eaeaea;
  padding: 10px;
  margin-left: 20px;
}

.billing-form-wrapper, #order_review {
  background-color: #f6f6f6;
  padding: 20px 20px 40px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
  margin: 5px 0 15px;
}

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #bf5329;
}

.terms-errors {
  color: #bf5329;
}

.thank-you-page #app {
  text-align: center;
}

.thank-you-page #app h2 {
  margin: 100px auto 50px;
}

.thank-you-page #app .btn {
  margin-bottom: 50px;
}

.page-login {
  background-image: url("../../images/bg-peep-home.png");
}

.page-login.register {
  background-image: url("../../images/hustlehart-khart.jpg");
}

.page-login footer {
  background-color: transparent;
  color: #fff;
  text-align: center;
  margin-top: 0;
  border: none;
}

.page-login #app {
  min-height: calc(100vh - 100px);
}

.page-login .panel-logreg-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.page-login .panel-logreg {
  padding: 50px;
  background-color: #f6f6f6;
  position: relative;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.6);
}

.page-login .panel-logreg:after {
  content: "";
  position: absolute;
  width: calc(100% - 50px);
  left: 25px;
  height: calc(100% - 50px);
  top: 25px;
  border: 1px solid #e8e8e8;
}

.page-login .panel-logreg .panel-heading {
  text-align: center;
  font-size: 32px;
  font-family: "Graphik Black";
  color: #2D2D2D;
  margin-top: 30px;
}

.page-login .panel-logreg .panel-body {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  z-index: 2;
}

.page-login .panel-logreg .btn {
  max-width: 280px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  outline: none;
}

.page-login .panel-logreg input {
  background-color: transparent;
}

.page-login .panel-logreg input:focus {
  border-color: #2D2D2D;
}

.page-login .panel-logreg input ::-webkit-input-placeholder {
  color: #eaeaea;
}

.page-login .panel-logreg input ::-moz-placeholder {
  color: #eaeaea;
}

.page-login .panel-logreg input :-ms-input-placeholder {
  color: #eaeaea;
}

.page-login .panel-logreg input :-moz-placeholder {
  color: #eaeaea;
}

.page-login .panel-logreg input:-webkit-autofill {
  background-color: rgba(255, 255, 255, 0.6);
}

.page-login .panel-logreg .login-form input:focus {
  border-color: #d84a43;
}

.page-login .panel-logreg .checkbox .btn-forgot {
  float: right;
}

.page-login .social-login {
  text-align: center;
}

.page-login .social-login .svg-facebook, .page-login .social-login .svg-google {
  margin-right: 15px;
}

.page-login .social-login h4 {
  text-align: center;
  color: #fff;
  position: relative;
  font-weight: 400;
}

.page-login .social-login h4:after {
  content: "";
  position: absolute;
  right: 0;
  width: 33%;
  height: 1px;
  top: 10px;
  background: #fff;
}

.page-login .social-login h4:before {
  content: "";
  position: absolute;
  left: 0;
  width: 33%;
  height: 1px;
  top: 10px;
  background: #fff;
}

.panel-resetpass {
  max-width: 450px;
  margin: 60px auto 0;
}

.panel-resetpass h3 {
  text-align: center;
}

.panel-resetpass button {
  margin-top: 30px;
  max-width: none;
}

.copyright a {
  color: #fff;
}

.shop-page .heading-title {
  margin-bottom: 20px;
}

.shop-page #above-footer {
  margin-top: 70px;
}

.shop-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-page-container .product-filters {
  width: 300px;
  padding: 20px;
  /* Acordeon styles */
  /* :checked */
  /* Icon */
}

.shop-page-container .product-filters .filter-type.categories {
  margin-top: 40px;
}

.shop-page-container .product-filters .filter-title {
  margin-bottom: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e7ec;
  color: #9da9b9;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.shop-page-container .product-filters .checkbox-filter {
  margin-bottom: 5px;
}

.shop-page-container .product-filters .checkbox-filter a {
  color: #2D2D2D;
}

.shop-page-container .product-filters .checkbox-filter a:hover {
  color: #2574A9;
}

.shop-page-container .product-filters .btn {
  width: 100%;
  height: 37px;
  margin-top: 30px;
}

.shop-page-container .product-filters .tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
}

.shop-page-container .product-filters .tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.shop-page-container .product-filters .tab label {
  position: relative;
  display: block;
  padding: 0;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.shop-page-container .product-filters .tab-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .35s;
  transition: max-height .35s;
}

.shop-page-container .product-filters .tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.shop-page-container .product-filters .tab input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  background-color: #9da9b9;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  top: 50%;
  right: 6px;
  width: 10px;
  height: 2px;
  margin-top: -1px;
}

.shop-page-container .product-filters .tab input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  background-color: #9da9b9;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
  top: calc(50% - 5px);
  right: 10px;
  width: 2px;
  height: 10px;
}

.shop-page-container .product-filters .tab input[type=checkbox]:checked + label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.shop-page-container .product-filters .tab input[type=checkbox]:checked + label::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shop-page-container .product-filters input[type="checkbox"]:before, .shop-page-container .product-filters input[type="radio"]:before {
  content: '';
  border: none;
  background: transparent;
}

.shop-page-container .product-filters input[type="checkbox"] input[type="checkbox"]:checked + label:before,
.shop-page-container .product-filters input[type="checkbox"] input[type="checkbox"]:not(:checked) + label:before, .shop-page-container .product-filters input[type="radio"] input[type="checkbox"]:checked + label:before,
.shop-page-container .product-filters input[type="radio"] input[type="checkbox"]:not(:checked) + label:before {
  display: none;
  border: none;
  background: none;
}

.shop-page-container .product-filters ul {
  padding-left: 10px;
  margin: 0;
}

.shop-page-container .product-grid-wrapper {
  padding: 20px;
  width: 100%;
}

.shop-page-container .product-grid-wrapper .product-grid-header {
  color: #9da9b9;
  margin-bottom: 30px;
}

.shop-page-container .product-grid-wrapper .product-grid-header select {
  width: auto;
  margin: 0 20px 0 8px;
  border-radius: 20px;
}

.shop-page-container .product-grid-wrapper .product-grid-header .product-grid-header-span {
  color: #606975;
}

.shop-page-container .product-grid-wrapper .product-grid-header .float-right {
  float: right;
  margin-top: 4px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid #eaeaea;
}

.shop-page-container .product-grid-wrapper .product-grid-flex {
  margin-top: 30px;
}

@media all and (min-width: 992px) {
  .shop-page-container .product-grid-wrapper .product-grid-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.shop-page-container .product-grid-wrapper .product-pagination {
  margin: 60px auto;
}

.shop-page-container .product-grid-wrapper .product-pagination li {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  margin-right: 3px;
  margin-left: 3px;
}

.shop-page-container .product-grid-wrapper .product-pagination li a {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #606975;
  line-height: 34px;
  text-decoration: none;
}

.shop-page-container .product-grid-wrapper .product-pagination li a:hover {
  border-color: #e1e7ec;
  background-color: #f5f5f5;
}

.shop-page-container .product-grid-wrapper .product-pagination li span {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #606975;
  line-height: 34px;
  text-decoration: none;
}

.shop-page-container .product-grid-wrapper .product-pagination li.active span {
  border-color: #1E8BC3;
  background-color: #1E8BC3;
  color: #ffffff;
}

.shop-page-container .product-grid-wrapper .product-pagination .pagination {
  text-align: center;
  padding: 0;
}

.product {
  padding: 20px;
  margin-bottom: 50px;
}

.product h3 {
  color: #2D2D2D;
}

.product .btn a {
  color: #fff;
}

.product .product-desc {
  text-align: center;
}

.product .product-desc h3 a {
  color: #2D2D2D;
}

.product .product-img {
  position: relative;
}

.product .product-img .sold-out {
  width: 200px;
  top: calc(50% - 60px);
  position: absolute;
  left: calc(50% - 100px);
}

.product .product-fav {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
  font-size: 25px;
}

.product .product-fav a {
  color: #d0d0d0;
}

.product .product-fav button {
  color: #d0d0d0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.product .vrnr {
  position: absolute;
  top: 40px;
  left: 30px;
  font-size: 20px;
  background-color: #FFE526;
  padding: 13px;
  font-weight: 700;
}

.product .vrnr.regular-price {
  background-color: #eaeaea;
}

.product .new-product {
  position: absolute;
  top: 9px;
  left: 30px;
  font-size: 20px;
  background-color: #2574A9;
  padding: 4px 13px 4px 26px;
  font-weight: 700;
  color: #fff;
  font-style: italic;
  font-family: "Graphik Black";
}

.product .new-product:after {
  position: absolute;
  content: '';
  top: 0;
  width: 0;
  height: 0;
  right: -1rem;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  border-width: 1.95rem 1rem 0 0;
  border-color: #2574A9 transparent transparent;
}

.product .new-product:before {
  position: absolute;
  content: '';
  top: 0;
  width: 0;
  height: 0;
  left: 0;
  border-style: solid;
  -webkit-transform: rotate(360deg);
  border-width: 1.95rem 1rem 0 0;
  border-color: #fff transparent transparent;
}

.product .reduced {
  position: absolute;
  left: 30px;
  padding: 13px;
  top: 80px;
  text-decoration: line-through;
  font-weight: 600;
}

.product:hover {
  -webkit-box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.35);
          box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.35);
  -webkit-transition: -webkit-box-shadow .4s ease-in-out;
  transition: -webkit-box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out;
  transition: box-shadow .4s ease-in-out, -webkit-box-shadow .4s ease-in-out;
}

.product:hover .product-fav {
  opacity: 1;
}

.product:hover .product-fav:hover a {
  color: #eb1c26;
}

.product:hover .product-fav:hover button {
  color: #2D2D2D;
}

.product:hover .product-fav a .fas {
  opacity: 1;
  color: #eb1c26;
}

.member-dash {
  margin-top: 40px;
}

.member-dash .member-sidebar {
  border: 1px solid #eaeaea;
  margin-top: 20px;
  float: left;
}

.member-dash .member-sidebar ul {
  padding: 0;
  width: 230px;
  margin: 0;
}

.member-dash .member-sidebar ul li {
  border-left: 3px solid transparent;
  line-height: 45px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.member-dash .member-sidebar ul li.current {
  border-color: #1090A4;
  background-color: #eaeaea;
}

.member-dash .member-sidebar ul li.current a {
  font-weight: 600;
}

.member-dash .member-sidebar ul li a {
  color: #2D2D2D;
  display: block;
  padding-left: 30px;
}

.member-dash .member-sidebar ul li:hover {
  background-color: #eaeaea;
}

.member-dash .member-dashcontent {
  padding: 0 25px;
  width: calc(100% - 240px);
  float: left;
}

.member-dash .member-dashcontent .block-title-big {
  font-weight: 300;
  font-size: 22px;
}

.member-dash .member-dashcontent table {
  margin-top: 10px;
}

.member-dash .member-dashcontent .block-dashboard-info {
  margin-top: 60px;
}

.member-dash .member-dashcontent .block-dashboard-info .block-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 30px;
}

.member-dash .member-dashcontent .block-dashboard-info .block-content {
  margin-top: 35px;
}

.member-dash .member-dashcontent .block-dashboard-info .btn {
  margin-top: 30px;
  margin-bottom: 20px;
}

.member-dash .member-dashcontent .box-information, .member-dash .member-dashcontent .box-newsletter {
  margin-top: 30px;
}

.member-dash .member-dashcontent .order-head {
  background-color: #22313F;
  color: #fff;
}

.member-dash .member-dashcontent .block-title-subs {
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  margin-top: 40px;
}

.member-dash .member-dashcontent #subscription-form .btn {
  float: left;
  margin-top: 20px;
}

.member-dash .member-dashcontent .wishlist-bottom-actions .btn {
  display: inline;
  margin-top: 30px;
}

.member-dash .member-dashcontent .wishlist-bottom-actions form {
  display: inline;
}

.single-product .heading-title-wrapper h1 {
  font-style: italic;
}

.single-product .product-info-main .product-name {
  font-family: "Graphik Regular";
}

@media all and (min-width: 768px) {
  .single-product .product-info-main {
    width: 40%;
    float: right;
  }
}

.single-product .product-info-main .product-reviews-summary .rating-summary {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.single-product .product-info-main .product-reviews-summary .reviews-actions {
  display: inline-block;
  vertical-align: middle;
}

.single-product .product-info-main .product-reviews-summary .reviews-actions .action.add {
  margin-left: 20px;
}

.single-product .product-info-main .product-info-price {
  display: table;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 15px;
}

.single-product .product-info-main .product-info-price .price-box {
  display: table-cell;
  vertical-align: middle;
  font-size: 36px;
  font-weight: 700;
}

.single-product .product-info-main .product-info-price .price-box .price-regular.faded {
  text-decoration: line-through;
  margin-right: 20px;
  color: #aeaeae;
  font-size: 22px;
}

.single-product .product-info-main .product-info-price .product-info-stock-sku {
  text-align: right;
}

.single-product .product-info-main .product-info-price .product-info-stock-sku .stock {
  margin-bottom: 3px;
  font-weight: 700;
}

.single-product .product-info-main .product-info-price .product-info-stock-sku .stock .not-in-stock {
  color: #eb1c26;
}

.single-product .product-info-main .available-colors-sizes h3 {
  font-style: italic;
  color: #AEAEAE;
}

.single-product .product-info-main .available-colors-sizes .circle {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  background-color: #f89a3c;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
}

.single-product .product-info-main .available-colors-sizes .av-colors {
  width: 50%;
  padding-right: 10px;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color {
  /* toggle on */
}

.single-product .product-info-main .available-colors-sizes .av-colors #color label {
  width: 40px;
  margin-right: 14px;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color:empty {
  margin-left: -9999px;
  display: none;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color:empty ~ label {
  position: relative;
  float: left;
  line-height: 24px;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 35px;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 40px;
  height: 40px;
  background: #cccccc;
  border-radius: 50px;
  border: 4px solid #FFF;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color:checked ~ label:before {
  content: '';
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color:checked ~ label:after {
  display: none;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color ~ label:before {
  background-color: #2D2D2D;
  margin-left: 2px;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #2D2D2D;
  box-shadow: 0px 0px 0px 1px #2D2D2D;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.blue ~ label:before {
  background-color: #1E8BC3;
  margin-left: 2px;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.blue:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #1E8BC3;
  box-shadow: 0px 0px 0px 1px #1E8BC3;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.red ~ label:before {
  background-color: #eb1c26;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.red:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #eb1c26;
  box-shadow: 0px 0px 0px 1px #eb1c26;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.purple ~ label:before {
  background-color: #6654af;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.purple:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #6654af;
  box-shadow: 0px 0px 0px 1px #6654af;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.green ~ label:before {
  background-color: #2ab27b;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.green:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #2ab27b;
  box-shadow: 0px 0px 0px 1px #2ab27b;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.yellow ~ label:before {
  background-color: #ffe526;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.yellow:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #ffe526;
  box-shadow: 0px 0px 0px 1px #ffe526;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.black ~ label:before {
  background-color: #2D2D2D;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.black:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #2D2D2D;
  box-shadow: 0px 0px 0px 1px #2D2D2D;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.gray ~ label:before {
  background-color: gray;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.gray:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px gray;
  box-shadow: 0px 0px 0px 1px gray;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.orange ~ label:before {
  background-color: tomato;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.orange:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px tomato;
  box-shadow: 0px 0px 0px 1px tomato;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color input.radio-color.white ~ label:before {
  background-color: #fff;
  border-color: #eaeaea;
}

.single-product .product-info-main .available-colors-sizes .av-colors #color .radio-color.white:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #2D2D2D;
  box-shadow: 0px 0px 0px 1px #2D2D2D;
}

.single-product .product-info-main .available-colors-sizes .av-sizes {
  float: right;
  width: 50%;
  padding-left: 10px;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes {
  /* toggle on */
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes label {
  width: 40px;
  margin-right: 14px;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes input.radio-size:empty {
  margin-left: -9999px;
  display: none;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes input.radio-size:empty ~ label {
  position: relative;
  float: left;
  line-height: 44px;
  cursor: pointer;
  padding-left: 12px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 15px;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes input.radio-size:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 40px;
  height: 40px;
  background: #2D2D2D;
  border-radius: 50px;
  border: 4px solid #FFF;
  z-index: -1;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes input.radio-size:checked ~ label:before {
  content: '';
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes .radio-size:checked ~ label:after {
  display: none;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes input.radio-size ~ label:before {
  background-color: #2D2D2D;
  margin-left: 2px;
}

.single-product .product-info-main .available-colors-sizes .av-sizes #sizes .radio-size:checked ~ label:before {
  -webkit-box-shadow: 0px 0px 0px 1px #2D2D2D;
  box-shadow: 0px 0px 0px 1px #2D2D2D;
}

.single-product .product-info-main .product-size-qty {
  margin-top: 30px;
}

.single-product .product-info-main .product-size-qty h3 {
  font-style: italic;
  color: #aeaeae;
}

.single-product .product-info-main .product-size-qty .product-size {
  width: 50%;
}

.single-product .product-info-main .product-size-qty .quantity {
  margin: 0;
  color: #b5b5b5;
  font-size: 12px;
  line-height: 14px;
  height: auto;
  float: left;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.single-product .product-info-main .product-size-qty .quantity .minus, .single-product .product-info-main .product-size-qty .quantity .plus {
  font-size: 15px;
  line-height: 47px;
  height: 47px;
  color: #40423a;
  background-color: #f4f4f3;
  border-width: 0px;
  border-style: solid;
  width: 47px;
  padding: 0;
  display: inline;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  margin: 0 3px;
  float: left;
}

.single-product .product-info-main .product-size-qty .quantity .minus:hover, .single-product .product-info-main .product-size-qty .quantity .plus:hover {
  color: #fff;
  background-color: #2D2D2D;
}

.single-product .product-info-main .product-size-qty .quantity .minus:disabled, .single-product .product-info-main .product-size-qty .quantity .plus:disabled {
  cursor: auto;
}

.single-product .product-info-main .product-size-qty .quantity .minus:disabled:hover, .single-product .product-info-main .product-size-qty .quantity .plus:disabled:hover {
  background-color: #f4f4f3;
  color: #40423a;
}

.single-product .product-info-main .product-size-qty .quantity input[type="text"] {
  font-size: 15px;
  line-height: 47px;
  height: 47px;
  color: #40423a;
  background-color: #f4f4f3;
  border-width: 0px;
  border-style: solid;
  border-radius: 0px;
  width: 47px;
  position: relative;
  display: inline;
  padding: 0;
  border: 0;
  text-align: center;
  float: left;
  margin: 0 3px;
}

.single-product .product-info-main .product-size-qty .product-fav {
  font-size: 28px;
  width: 40px;
  height: 40px;
  padding-top: 8px;
  display: inline-block;
  text-align: center;
  float: right;
}

.single-product .product-info-main .product-size-qty .product-fav a {
  color: #eb1c26;
}

.single-product .product-info-main .box-tocart-share {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.single-product .product-info-main .box-tocart-share .actions {
  display: inline-block;
}

.single-product .product-info-main .box-tocart-share .btn {
  display: inline-block;
  min-width: 150px;
}

.single-product .product-info-main .box-tocart-share .product-social-links {
  display: inline-block;
  float: right;
}

.single-product .product-media {
  text-align: center;
}

.single-product .product-media img {
  max-width: 600px;
  max-height: 600px;
}

@media all and (min-width: 768px) {
  .single-product .product-media {
    width: 57%;
    float: left;
  }
}

.single-product .product-wrapper {
  margin-bottom: 80px;
}

.reviews .review-item {
  padding: 40px 0;
  border-bottom: 1px solid #eaeaea;
}

.reviews .review-item .review-ratings {
  display: table;
  max-width: 100%;
  margin-bottom: 10px;
}

.reviews .review-item .review-ratings .rating-summary {
  display: table-row;
}

.reviews .review-item .review-ratings .rating-summary .rating-label {
  display: table-cell;
  vertical-align: top;
  padding-top: 1px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.reviews .review-item .review-ratings .rating-summary .rating-result {
  width: 88px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

@media all and (min-width: 768px) {
  .reviews .review-item .review-ratings {
    max-width: 240px;
    float: left;
    margin-bottom: 0;
  }
}

.reviews .review-item .review-content {
  margin-bottom: 20px;
}

@media all and (min-width: 768px) {
  .reviews .review-item .review-content {
    margin-left: 280px;
  }
}

.reviews .review-item .review-title {
  margin-bottom: 30px;
}

.reviews .review-form-wrapper {
  padding: 30px 0;
}

.reviews .review-form-wrapper .you-reviewing {
  font-size: 24px;
}

.reviews .review-form-wrapper .btn {
  margin-top: 20px;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group {
  font-size: 0;
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group * {
  font-size: 26px;
  line-height: 36px;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input {
  display: none;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 36px;
  white-space: nowrap;
  cursor: pointer;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "\F005";
  color: #c7c7c7;
  border: none;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input:checked ~ label:before,
.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input + label:hover ~ label:before,
.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input + label:hover:before {
  content: "\F005";
  color: #ffe526;
  text-shadow: 0 0 1px #333;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > input:checked + label:after {
  background: transparent;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group:hover > input + label:before {
  content: "\F005";
  color: #c7c7c7;
  text-shadow: none;
}

.reviews .review-form-wrapper .radio-rating-group .star-cb-group:hover > input + label:hover ~ label:before,
.reviews .review-form-wrapper .radio-rating-group .star-cb-group:hover > input + label:hover:before {
  content: "\F005";
  color: #ffe526;
  text-shadow: 0 0 1px #333;
}

html {
  font-size: 100%;
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;
  color: #2D2D2D;
}

ul, li {
  list-style: none;
}

a {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #2574A9;
}

.page-wrapper {
  padding-top: 95px;
}

.heading-title {
  position: relative;
  padding: 50px;
  background: #2D2D2D;
  text-align: center;
  color: #fff;
  letter-spacing: 0.04em;
  margin-bottom: 70px;
}

.heading-title h1 {
  font-family: "Graphik Black";
  text-transform: uppercase;
}

.heading-title .row_triangle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 55px solid transparent !important;
  border-right: 55px solid transparent !important;
  border-top: 18px solid transparent;
  border-bottom: 0;
  bottom: -18px;
  top: auto;
  border-top-color: #ffffff;
}

span.asterisk {
  color: #bf5329;
}

.terms-container {
  max-width: 850px;
}

.font-graphik-black {
  font-family: "Graphik Black";
}

.font-graphik-regular {
  font-family: "Graphik Regular";
}
