<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">default header</div>

          <div class="modal-body">
            <li v-for="product in products" v-bind:key="products.id">
              <h3>{{ product.name }}</h3>
              <img v-bind:src="product.product_image" alt="product.name">
            </li>
          </div>

          <div class="modal-footer">
            default footer
            <button class="modal-default-button" @click="$emit('close')">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  props: ["products"],
  methods: {
    //            showModalFunc(value){
    //                this.showModal = true;
    //                // if(value == true){
    //                this.fetchData(value);
    //                // }
    //            },
    //            closeModal(){
    //                this.showModal = false;
    //                this.dataFetched = false;
    //            },
    //            fetchData(value){
    //                Axios.get('/api/products/basedoncategory/')
    //                    .then(response => {
    //
    //                        this.products = response.data;
    //                        this.dataFetched = true;
    //                        console.log(this.products);
    //                    }).catch(error => {
    //                    console.log(error.response);
    //                });
    //            }
  }
};
</script>
<style scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 60%;
  position: relative;
  height: 50vh;
  overflow-y: auto;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aeaeae;
}

/*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>