<!-- Vue component -->
<template>
    <div>
        <label class="typo__label">Select product categories</label>
        <multiselect v-model="value" :options="options" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" :preselect-first="true">
            <template slot="tag" slot-scope="props">
                <span class="custom__tag">
                    <span>{{ props.option.language }}</span>
                    <span class="custom__remove" @click="props.remove(props.option)">❌</span>
                </span>
            </template>
        </multiselect>
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: {
            Multiselect
        },
        data () {
            return {
                value: [],
                options: [
                    { name: 'Vue.js', language: 'JavaScript' },
                    { name: 'Adonis', language: 'JavaScript' },
                    { name: 'Rails', language: 'Ruby' },
                    { name: 'Sinatra', language: 'Ruby' },
                    { name: 'Laravel', language: 'PHP' },
                    { name: 'Phoenix', language: 'Elixir' }
                ]
            }
        }
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>