// Sass Mixins
@mixin gradient-1{
    background: rgb(171,73,222);
    background: -moz-linear-gradient(-45deg, rgba(171,73,222,1) 0%, rgba(73,84,222,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(171,73,222,1)), color-stop(100%,rgba(73,84,222,1)));
    background: -webkit-linear-gradient(-45deg, rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%);
    background: linear-gradient(135deg, rgba(171,73,222,1) 0%,rgba(73,84,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab49de', endColorstr='#4954de',GradientType=1 );
}
@mixin gradient-2{
    background: rgb(73,84,222);
    background: -moz-linear-gradient(-45deg, rgba(73,84,222,1) 0%, rgba(73,221,216,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,84,222,1)), color-stop(100%,rgba(73,221,216,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%);
    background: linear-gradient(135deg, rgba(73,84,222,1) 0%,rgba(73,221,216,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4954de', endColorstr='#49ddd8',GradientType=1 );
}
@mixin gradient-3{
    background: rgb(255,174,39);
    background: -moz-linear-gradient(-45deg, rgba(255,174,39,1) 0%, rgba(222,73,109,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,174,39,1)), color-stop(100%,rgba(222,73,109,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
    background: linear-gradient(135deg, rgba(255,174,39,1) 0%,rgba(222,73,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae27', endColorstr='#de496d',GradientType=1 );
}
@mixin gradient-4{
    background: rgb(222,73,109);
    background: -moz-linear-gradient(-45deg, rgba(222,73,109,1) 0%, rgba(171,73,222,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(222,73,109,1)), color-stop(100%,rgba(171,73,222,1)));
    background: -webkit-linear-gradient(-45deg, rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%);
    background: linear-gradient(135deg, rgba(222,73,109,1) 0%,rgba(171,73,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de496d', endColorstr='#ab49de',GradientType=1 );
}
@mixin gradient-5{
    background: rgb(73,221,216);
    background: -moz-linear-gradient(-45deg, rgba(73,221,216,1) 0%, rgba(25,226,115,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(73,221,216,1)), color-stop(100%,rgba(25,226,115,1)));
    background: -webkit-linear-gradient(-45deg, rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%);
    background: linear-gradient(135deg, rgba(73,221,216,1) 0%,rgba(25,226,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49ddd8', endColorstr='#19e273',GradientType=1 );
}
@mixin gradient-6{
    background-image: -webkit-linear-gradient(315deg, #c7f464 0%, #66b3ac 67%, #4ea2bf 99%, #4ca1c0 100%, #4ecdc4 100%);
    background-image: linear-gradient(135deg, #c7f464 0%, #66b3ac 67%, #4ea2bf 99%, #4ca1c0 100%, #4ecdc4 100%);
}
@mixin gradient-7{
    background: -webkit-linear-gradient(-45deg,#ec5252,#6e1a52);
    background: -moz-linear-gradient(-45deg,#ec5252 0,#6e1a52 100%);
    background: -ms-linear-gradient(-45deg,#ec5252 0,#6e1a52 100%);
    background: -o-linear-gradient(-45deg,#ec5252 0,#6e1a52 100%);
    background: linear-gradient(-45deg,#ec5252,#6e1a52);
}