// Sass Variables

// Body
// $body-bg: #f3f3f3;
$body-bg: #fff;


// Brands
$brand-primary: #1E8BC3;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #ffe526;
$brand-danger: #bf5329;
 $brand-red: #eb1c26;
//#ea0d27

$color-1: #2574A9;
$color-2: #1E8BC3;
$color-3: #1090A4;
$color-4: #22313F;
$color-5: #2D2D2D;

// Typography
// $icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
// $font-family-sans-serif: "Raleway", sans-serif;
$font-family-sans-serif: 'Titillium Web', sans-serif;
$font-family-graphik-black: "Graphik Black";
$font-family-graphik-regular: "Graphik Regular";
$font-size-base: 15px;
$line-height-base: 1.6;
$text-color: #2D2D2D;


// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Media queries
$mobile: "all and (max-width: 767px)";
$sm-mobile: "all and (max-width: 480px)";
$tablet: "all and (min-width: 768px)";
$desktop: "all and (min-width: 992px)";
$lg-desktop: "all and (min-width: 1200px)";

// Rating form variables
$unchecked-star: '\f005';
$unchecked-color: #c7c7c7;
$checked-star: '\f005';
$checked-color: #ffe526;