@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.0.9/css/all.css');

// base
@import "../base/reset";
@import "../base/typography";

@import "../abstracts/variables";
@import "../layout/grid";
@import "../components/rating-star.scss";

body {
  color: #5D5F63;
  font-family: 'Open Sans',sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
li{
    list-style: none;
}
.header{
    padding: 15px;
    height: 65px;
    padding-top: 22px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
    ul{margin: 0;}
    li{
        float: left;
        list-style: none;
        margin-left: 12px;
    }
    .navbar-right{
        float: right;
        display: inline-block;
        .avatar{
            margin-top: -5px;
            img{
                max-width: 40px;
                border-radius: 50%;
            }
        }
    }
    .btn-primary{
        margin-top: -7px;
    }
    .section-subtitle{
        padding-left: 30px;
        float: left;
        h3{
            margin: 0;
        }
    }

}

.sidebar-toggle {
  margin-left: -240px;
}
.sidebar {
  width: 240px;
  position: fixed;
  min-height: calc(100vh - 65px);
  height: 100%;
  background: #293949;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
  padding: 0;
    overflow-y: auto;
    //position: absolute;
    .sidebar-head{
        height: 65px;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
        #logo{
            text-align: center;
            img{
                max-width: 65px;
            }
        }
    }
  #leftside-navigation {
      padding-top: 2px;
    ul, ul ul {
      margin: -2px 0 0;
      padding: 0;
    }
    ul {
      li {
        list-style-type: none;
        //border-bottom: 1px solid rgba(255,255,255,.05);
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          &:hover{
              background-color: #314354;
          }
          ul{
              opacity: 0;
              -webkit-transition: all .3s linear;
              -moz-transition: all .3s linear;
              -ms-transition: all .3s linear;
              -o-transition: all .3s linear;
              transition: all .3s linear;
          }
            &.selected {
              ul {
                display: block;
                  opacity: 1;
              }
            }
              &.active{
                  > a{
                    //color: #1abc9c;
                    color: $color-3;
                  }
              }

        a {
          color: #fff;
          text-decoration: none;
          display: block;
          padding: 18px 0 18px 25px;
          font-size: 15px;
          outline: 0;
          -webkit-transition: all 200ms ease-in;
          -moz-transition: all 200ms ease-in;
          -o-transition: all 200ms ease-in;
          -ms-transition: all 200ms ease-in;
          transition: all 200ms ease-in;
          &:hover {
            //color: #1abc9c;
          }

          span {
            display: inline-block;
          }
          i {
            width: 20px;
            .fa-angle-left, .fa-angle-right {
              padding-top: 3px;
            }
          }
        }
      }
    }
    ul ul {
      display: none;
      li {
        background: #23313f;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-bottom: none;
          &:hover{
              background: #273746;
          }
        a {
          font-size: 12px;
          padding-top: 13px;
          padding-bottom: 13px;
          color: #aeb2b7;
            &.active{
                color: $color-3;
            }
        }
      }
    }
  }

}

.display-area{
  width: calc(100% - 240px);
  float: right;
    .content-box-large {
        background-color: #efefef;
        min-height: calc(100vh - 65px);
        padding: 15px;
        .dash-content {
            padding-top: 30px;
        }
    }
}
.card {
    border: 0;
    background-color: #fff;
    border-radius: 0.1875rem;
    display: inline-block;
    position: relative;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
    &.card-big{
        padding-bottom: 40px;
    }
    .card-content {
        h4 {
            font-weight: 400;
            font-family: "Graphik Regular";
        }
        p{
            font-weight: 800;
        }
    }
    .card-icon{
        font-size: 40px;
        text-align: right;
        float: left;
        width: 35%;
        margin-top: 13px;
        padding-right: 10px;
    }
    .left-side{
        width: 65%;
        float: left;
    }
    .right-side{
        width: 35%;
        float: left;
        font-size: 62px;
    }
}
table{
    width: 100%;
    font-size: 15px;
    th, .th{
        padding: 12px 7px;
        color: $text-color;
        text-align: left;
        font-weight: 700;
    }
    tr{
        td{
            padding: 12px 7px;
            vertical-align: middle;
            border-top: 1px solid #dee2e6;
        }
    }
    .table-actions{
        font-size: 12px;
        .fa-edit{
            color: $brand-success;
        }
        .fa-trash-alt{
            color: $brand-danger;
            margin-left: 10px;
        }
        .fa-eye{
            color: $text-color;
            margin-right: 10px;
        }
        form{
            display: inline-block;
        }
    }
    &.list-categories{
        td .badge{
            border-radius: 2px;
            color: #fff;
            padding: 2px 5px;
            &.badge-blue{
                background-color: $color-1;
            }
            &.badge-orange{
                background-color: $brand-danger;
            }
            &.badge-yellow{
                background-color: $brand-warning;
            }
        }
    }
    &.list-attributes{
        .value-item{
            padding: 0 5px;
            border-right: 1px solid #aeaeae;
            &:last-child{
                border-right: none;
            }
        }
    }
    &.list{
        .product-thumb{
            img{
                max-width: 80px;
            }
        }
        span.box{
            padding: 0px 5px 2px;
            color: #fff;
            font-weight: 600;
            border-radius: 5px;
            &.green{
                background-color: $brand-success;
            }
            &.orange{
                background-color: $brand-danger;
            }
            &.red{
                background-color: $brand-red;
            }
        }
        span.smiley{
            &.green{
                color: $brand-success;
            }
            &.red{
                color: $brand-red;
            }
            i{
                font-size: 25px;
            }
        }

    }
}
#products-list{
    .btn-top{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
button{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
}
.form-group {
    margin-bottom: 20px;
    input, select {
        display: block;
        width: 100%;
        background-color: transparent;
        border: 1px solid #e3e3e3;
        border-radius: 5px;
        color: #2c2c2c;
        line-height: 1em;
        padding: 10px 18px;
        font-size: 14px;
        transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
        box-shadow: none;
        &:focus {
            //border: 1px solid #f96332;
            border: 1px solid $color-2;
            box-shadow: none;
            outline: 0 !important;
            color: #2c2c2c;
        }
        &::-webkit-input-placeholder, &::-moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder{
            color:#eaeaea;
        }
    }
    label{
        display: inline-block;
        font-size: 12px;
        margin-bottom: 5px;
        //color: #9a9a9a;
        color: $text-color;
        padding-left: 5px;
        font-weight: 700;
    }
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 30px;
    border: 1px solid transparent;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.3;
    border-radius: 15px;
    background-color: transparent;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    outline: none;
    &.btn-primary{
        color: #fff;
        background-color: $color-1;
        &:hover{
            background-color: darken($color-1, 10%);
        }
    }
    &.btn-outline{
        border-color: $brand-danger;
        color: $brand-danger;
        &:hover{
            background-color: $brand-danger;
            color: #fff;
        }
    }
    &.btn-outline-gray{
        border-color: $brand-info;
        color: $brand-info;
        margin-top: 10px;
        &:hover{
            background-color: $brand-info;
            color: #fff;
        }
    }
    &.btn-ok{
        background-color: $brand-success;
        color: #fff;
        &:hover{
            background-color: darken($brand-success, 10%);
        }
    }

    i{
        margin-right: 10px;
    }
}
button{
    i{
        margin-right: 5px;
    }
}
.alert{
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
    &.alert-danger{
        color: $brand-red;
        background-color: #dbf2e3;
        border-color: #cdedd8;
    }
    &.alert-success{
        color: #28623c;
        background-color: #dbf2e3;
        border-color: #cdedd8;
    }
}
.edit-category form{
    display: inline;
}
H3.no-items{
    color: #b4b4b4;
    text-align: center;
}
.add-new-product{
    text-align: center;
    margin-bottom: 30px;
    button{
        outline: none;
    }
}
.attribute-create{
    #attribute-values{
        padding-top: 20px;
        .form-group{
            display: flex;
            input{
                height: 40px;
            }
        }
        button{
            margin-left: 20px;
            color: $brand-red;
        }
    }
}

.review-ratings {
    display: table;
    max-width: 100%;
    margin-bottom: 10px;
    .rating-summary{
        display: table-row;
        .rating-label{
            display: table-cell;
            vertical-align: top;
            padding-top: 1px;
            padding-right: 25px;
            padding-bottom: 5px;
        }
        .rating-result{
            width: 88px;
            display: inline-block;
            position: relative;
            vertical-align: middle;
        }
    }
    @media #{$tablet}{
        max-width: 240px;
        float: left;
        margin-bottom: 0;
    }

}
// toggle switch
label.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
    input {
        display:none;
        &:checked + .slider {
            background-color: $color-1;
        }
        &:focus + .slider {
            box-shadow: 0 0 1px $color-1;
        }
        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        &:checked + #sale_price{
            display: block;
            opacity: 1;
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 34px;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        &:before{
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 1px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
}
#appended-input{
    display: none;
}

form{
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #eaeaea;
    margin: 5px 0 15px;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    transition: all .3s ease;
    &:-webkit-autofill{
        background-color: #fff!important;
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
    &:focus{
        border-color: $color-1;
    }
    &[type="radio"]{
        width: auto;
    }
    &[type="checkbox"], &[type="radio"]{
        &:checked, &:not(:checked){
            position: absolute;
            left: -9999px;
            border-radius: 4px;
        }
        &:checked + label, &:not(:checked) + label{
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: #666;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #ddd;
                background: #fff;
            }
            &:after{
                content: '';
                width: 10px;
                height: 10px;
                background: $color-1;
                position: absolute;
                top: 5px;
                left: 5px;
                border-radius: 4px;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
        }
        &:not(:checked) + label:after{
            opacity: 0;
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -o-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
        }
        &:checked + label:after{
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -o-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }
}
}
.product-attributes{
    select{
        height: 150px;
        width: 150px;
    }
}
.product-categories{
    .first-level{
        margin-left: 30px;
        position: relative;
        label{
            margin-bottom: 13px;
        }
        &:before{
            content: "";
            position: absolute;
            left: 10px;
            width: 1px;
            top: 12px;
            height: 100%;
            background-color: #aeaeae;
        }
        &:last-child:before{
            height: calc(100% - 34px);
        }
    }
    .second-level{
        position: relative;
        padding-left: 30px;
        &:before{
            content: "";
            position: absolute;
            left: 10px;
            width: 20px;
            top: 12px;
            height: 1px;
            background-color: #aeaeae;
        }
    }
    .root-level{
        position: relative;
        &:before{
            content: "";
            position: absolute;
            left: 10px;
            width: 1px;
            top: 20px;
            height: 18px;
            background-color: #aeaeae;
        }
        &:after{
            content: "";
            position: absolute;
            left: 10px;
            width: 21px;
            top: 37px;
            height: 1px;
            background-color: #aeaeae;
        }
    }
}
.image-preview{
    #remove-image{
        display: none;
        cursor: pointer;
        text-decoration: underline;
        color: $color-1;
        text-align: center;
        i{
            margin-right: 5px;
        }
        &.showed{
            display: block;
        }
        &:hover{
            color: $color-2;
        }
    }
    .profile-img-tag{
        width: 150px;
        max-height: 250px;
    }
}
.tabs-section{
    margin-top: 50px;
}

// PAGINATION
.product-pagination{
    margin: 60px auto;
    li{
        display: inline-block;
        width: 36px;
        height: 36px;
        font-size: 14px;
        font-weight: 500;
        line-height: 34px;
        text-align: center;
        margin-right: 3px;
        margin-left: 3px;
        a{
            display: block;
            width: 36px;
            height: 36px;
            transition: all .3s;
            border: 1px solid transparent;
            border-radius: 50%;
            color: #606975;
            line-height: 34px;
            text-decoration: none;
            &:hover{
                border-color: #e1e7ec;
                background-color: #f5f5f5;
            }
        }
        span{
            display: block;
            width: 36px;
            height: 36px;
            transition: all .3s;
            border: 1px solid transparent;
            border-radius: 50%;
            color: #606975;
            line-height: 34px;
            text-decoration: none;
        }
        &.active{
            span{
                border-color: $color-2;
                background-color: $color-2;
                color: #ffffff;
            }
        }
    }
    .pagination{
        // display: flex;
        text-align: center;
        padding: 0;
    }
}
// END PAGINATION

// ORDERS
table.without-border{
    td{
        border: none;
    }
}
.bordered{
    border: 1px solid #eaeaea;
}
.card-title.bottom-line{
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-1;
    &:after{
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
    }
}
select#status{
    padding: 3px 18px;
}
.order-total-big{
    font-size: 24px;
}
.blue{
    color: $color-1;
}
.sale_price_text{
    margin-top: -5px;
    margin-bottom: 10px;
}
// END ORDERS