// abstract
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/placeholders";
@import "abstracts/variables";
// base
@import "base/reset";
@import "base/typography";
// components
@import "components/buttons";
@import "components/alerts";
@import "components/carousel";
@import "components/cover";
@import "components/dropdown";
@import "components/featured-products";
@import "components/forms";
@import "components/rating-star";
@import "components/tabs.scss";
@import "components/might-also-like";
@import "components/search";
// layout
@import "layout/footer";
@import "layout/forms";
@import "layout/grid";
@import "layout/header";
@import "layout/navigation";
@import "layout/sidebar";

// pages
@import "pages/contact";
@import "pages/home";
@import "pages/_404";
@import "pages/_cart";
@import "pages/_checkout";
@import "pages/thankyou";
@import "pages/log-reg";
@import "pages/shop";
@import "pages/member-profile";
@import "pages/product";
// theme
@import "themes/admin";
@import "themes/theme";
// vendors
@import "vendors/bootstrap";
@import "vendors/jquery-ui";
@import "vendors/font-awesome";


// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";
html{
    font-size: 100%;
    font-size: 16px;
}
body{
    background-color: $body-bg;
    font-family: $font-family-sans-serif;
    color: $text-color;
}
ul, li{
    list-style: none;
}
a{
    transition: all .3s ease;
    color: $color-1;
}
.page-wrapper{
    padding-top: 95px;
}
.heading-title{
    position: relative;
    padding: 50px;
    //@include gradient-2;
    background: $text-color;
    text-align: center;
    color: #fff;
    letter-spacing: 0.04em;
    margin-bottom: 70px;
    h1{
        font-family: $font-family-graphik-black;
        text-transform: uppercase;
    }
    .row_triangle {
        position: absolute;
        left: 50%;
        -ms-transform: translate(-50%,0);
        -webkit-transform: translate(-50%,0);
        -moz-transform: translate(-50%,0);
        -o-transform: translate(-50%,0);
        transform: translate(-50%,0);
        width: 0;
        height: 0;
        border-left: 55px solid transparent!important;
        border-right: 55px solid transparent!important;
        border-top: 18px solid transparent;
        border-bottom: 0;
        bottom: -18px;
        top: auto;
        border-top-color: #ffffff;
    }
}
span.asterisk{
    color: $brand-danger;
}
.terms-container{
    max-width: 850px;
}
.font-graphik-black{
    font-family: $font-family-graphik-black;
}
.font-graphik-regular{
    font-family: $font-family-graphik-regular;
}