@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);@import url(https://use.fontawesome.com/releases/v5.0.9/css/all.css);@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900);/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
  text-decoration: none;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
  max-width: 100%;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Graphik Regular";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Graphik-Regular.eot");
  src: url("../../fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Regular.woff2") format("woff2"), url("../../fonts/Graphik-Regular.woff") format("woff"), url("../../fonts/Graphik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Graphik Black";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/Graphik-Black.eot");
  src: url("../../fonts/Graphik-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Graphik-Black.woff2") format("woff2"), url("../../fonts/Graphik-Black.woff") format("woff"), url("../../fonts/Graphik-Black.ttf") format("truetype");
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.container--small {
  max-width: 695px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

/*---------- star rating ----------*/
.star-rating, .back-stars, .front-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.star-rating {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.back-stars {
  color: #c7c7c7;
  position: relative;
}

.front-stars {
  color: #ffe526;
  overflow: hidden;
  position: absolute;
  top: 0;
}

body {
  color: #5D5F63;
  font-family: 'Open Sans',sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style: none;
}

.header {
  padding: 15px;
  height: 65px;
  padding-top: 22px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.header ul {
  margin: 0;
}

.header li {
  float: left;
  list-style: none;
  margin-left: 12px;
}

.header .navbar-right {
  float: right;
  display: inline-block;
}

.header .navbar-right .avatar {
  margin-top: -5px;
}

.header .navbar-right .avatar img {
  max-width: 40px;
  border-radius: 50%;
}

.header .btn-primary {
  margin-top: -7px;
}

.header .section-subtitle {
  padding-left: 30px;
  float: left;
}

.header .section-subtitle h3 {
  margin: 0;
}

.sidebar-toggle {
  margin-left: -240px;
}

.sidebar {
  width: 240px;
  position: fixed;
  min-height: calc(100vh - 65px);
  height: 100%;
  background: #293949;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: 100;
  padding: 0;
  overflow-y: auto;
}

.sidebar .sidebar-head {
  height: 65px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.sidebar .sidebar-head #logo {
  text-align: center;
}

.sidebar .sidebar-head #logo img {
  max-width: 65px;
}

.sidebar #leftside-navigation {
  padding-top: 2px;
}

.sidebar #leftside-navigation ul, .sidebar #leftside-navigation ul ul {
  margin: -2px 0 0;
  padding: 0;
}

.sidebar #leftside-navigation ul li {
  list-style-type: none;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li:hover {
  background-color: #314354;
}

.sidebar #leftside-navigation ul li ul {
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.sidebar #leftside-navigation ul li.selected ul {
  display: block;
  opacity: 1;
}

.sidebar #leftside-navigation ul li.active > a {
  color: #1090A4;
}

.sidebar #leftside-navigation ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 15px;
  outline: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a span {
  display: inline-block;
}

.sidebar #leftside-navigation ul li a i {
  width: 20px;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left, .sidebar #leftside-navigation ul li a i .fa-angle-right {
  padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
  display: none;
}

.sidebar #leftside-navigation ul ul li {
  background: #23313f;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
}

.sidebar #leftside-navigation ul ul li:hover {
  background: #273746;
}

.sidebar #leftside-navigation ul ul li a {
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #aeb2b7;
}

.sidebar #leftside-navigation ul ul li a.active {
  color: #1090A4;
}

.display-area {
  width: calc(100% - 240px);
  float: right;
}

.display-area .content-box-large {
  background-color: #efefef;
  min-height: calc(100vh - 65px);
  padding: 15px;
}

.display-area .content-box-large .dash-content {
  padding-top: 30px;
}

.card {
  border: 0;
  background-color: #fff;
  border-radius: 0.1875rem;
  display: inline-block;
  position: relative;
  padding: 15px;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}

.card.card-big {
  padding-bottom: 40px;
}

.card .card-content h4 {
  font-weight: 400;
  font-family: "Graphik Regular";
}

.card .card-content p {
  font-weight: 800;
}

.card .card-icon {
  font-size: 40px;
  text-align: right;
  float: left;
  width: 35%;
  margin-top: 13px;
  padding-right: 10px;
}

.card .left-side {
  width: 65%;
  float: left;
}

.card .right-side {
  width: 35%;
  float: left;
  font-size: 62px;
}

table {
  width: 100%;
  font-size: 15px;
}

table th, table .th {
  padding: 12px 7px;
  color: #2D2D2D;
  text-align: left;
  font-weight: 700;
}

table tr td {
  padding: 12px 7px;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

table .table-actions {
  font-size: 12px;
}

table .table-actions .fa-edit {
  color: #2ab27b;
}

table .table-actions .fa-trash-alt {
  color: #bf5329;
  margin-left: 10px;
}

table .table-actions .fa-eye {
  color: #2D2D2D;
  margin-right: 10px;
}

table .table-actions form {
  display: inline-block;
}

table.list-categories td .badge {
  border-radius: 2px;
  color: #fff;
  padding: 2px 5px;
}

table.list-categories td .badge.badge-blue {
  background-color: #2574A9;
}

table.list-categories td .badge.badge-orange {
  background-color: #bf5329;
}

table.list-categories td .badge.badge-yellow {
  background-color: #ffe526;
}

table.list-attributes .value-item {
  padding: 0 5px;
  border-right: 1px solid #aeaeae;
}

table.list-attributes .value-item:last-child {
  border-right: none;
}

table.list .product-thumb img {
  max-width: 80px;
}

table.list span.box {
  padding: 0px 5px 2px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

table.list span.box.green {
  background-color: #2ab27b;
}

table.list span.box.orange {
  background-color: #bf5329;
}

table.list span.box.red {
  background-color: #eb1c26;
}

table.list span.smiley.green {
  color: #2ab27b;
}

table.list span.smiley.red {
  color: #eb1c26;
}

table.list span.smiley i {
  font-size: 25px;
}

#products-list .btn-top {
  margin-top: 10px;
  margin-bottom: 20px;
}

button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input, .form-group select {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  color: #2c2c2c;
  line-height: 1em;
  padding: 10px 18px;
  font-size: 14px;
  -webkit-transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-group input:focus, .form-group select:focus {
  border: 1px solid #1E8BC3;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}

.form-group input::-webkit-input-placeholder, .form-group input::-moz-placeholder, .form-group input:-ms-input-placeholder, .form-group input:-moz-placeholder, .form-group select::-webkit-input-placeholder, .form-group select::-moz-placeholder, .form-group select:-ms-input-placeholder, .form-group select:-moz-placeholder {
  color: #eaeaea;
}

.form-group label {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #2D2D2D;
  padding-left: 5px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 30px;
  border: 1px solid transparent;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 15px;
  background-color: transparent;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  outline: none;
}

.btn.btn-primary {
  color: #fff;
  background-color: #2574A9;
}

.btn.btn-primary:hover {
  background-color: #1c577f;
}

.btn.btn-outline {
  border-color: #bf5329;
  color: #bf5329;
}

.btn.btn-outline:hover {
  background-color: #bf5329;
  color: #fff;
}

.btn.btn-outline-gray {
  border-color: #8eb4cb;
  color: #8eb4cb;
  margin-top: 10px;
}

.btn.btn-outline-gray:hover {
  background-color: #8eb4cb;
  color: #fff;
}

.btn.btn-ok {
  background-color: #2ab27b;
  color: #fff;
}

.btn.btn-ok:hover {
  background-color: #20895e;
}

.btn i {
  margin-right: 10px;
}

button i {
  margin-right: 5px;
}

.alert {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.alert.alert-danger {
  color: #eb1c26;
  background-color: #dbf2e3;
  border-color: #cdedd8;
}

.alert.alert-success {
  color: #28623c;
  background-color: #dbf2e3;
  border-color: #cdedd8;
}

.edit-category form {
  display: inline;
}

H3.no-items {
  color: #b4b4b4;
  text-align: center;
}

.add-new-product {
  text-align: center;
  margin-bottom: 30px;
}

.add-new-product button {
  outline: none;
}

.attribute-create #attribute-values {
  padding-top: 20px;
}

.attribute-create #attribute-values .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attribute-create #attribute-values .form-group input {
  height: 40px;
}

.attribute-create #attribute-values button {
  margin-left: 20px;
  color: #eb1c26;
}

.review-ratings {
  display: table;
  max-width: 100%;
  margin-bottom: 10px;
}

.review-ratings .rating-summary {
  display: table-row;
}

.review-ratings .rating-summary .rating-label {
  display: table-cell;
  vertical-align: top;
  padding-top: 1px;
  padding-right: 25px;
  padding-bottom: 5px;
}

.review-ratings .rating-summary .rating-result {
  width: 88px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

@media all and (min-width: 768px) {
  .review-ratings {
    max-width: 240px;
    float: left;
    margin-bottom: 0;
  }
}

label.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

label.switch input {
  display: none;
}

label.switch input:checked + .slider {
  background-color: #2574A9;
}

label.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2574A9;
          box-shadow: 0 0 1px #2574A9;
}

label.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

label.switch input:checked + #sale_price {
  display: block;
  opacity: 1;
}

label.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

label.switch .slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#appended-input {
  display: none;
}

form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #eaeaea;
  margin: 5px 0 15px;
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

form input:-webkit-autofill {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

form input:focus {
  border-color: #2574A9;
}

form input[type="radio"] {
  width: auto;
}

form input[type="checkbox"]:checked, form input[type="checkbox"]:not(:checked), form input[type="radio"]:checked, form input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
  border-radius: 4px;
}

form input[type="checkbox"]:checked + label, form input[type="checkbox"]:not(:checked) + label, form input[type="radio"]:checked + label, form input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

form input[type="checkbox"]:checked + label:before, form input[type="checkbox"]:not(:checked) + label:before, form input[type="radio"]:checked + label:before, form input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  background: #fff;
}

form input[type="checkbox"]:checked + label:after, form input[type="checkbox"]:not(:checked) + label:after, form input[type="radio"]:checked + label:after, form input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #2574A9;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

form input[type="checkbox"]:not(:checked) + label:after, form input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

form input[type="checkbox"]:checked + label:after, form input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.product-attributes select {
  height: 150px;
  width: 150px;
}

.product-categories .first-level {
  margin-left: 30px;
  position: relative;
}

.product-categories .first-level label {
  margin-bottom: 13px;
}

.product-categories .first-level:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 1px;
  top: 12px;
  height: 100%;
  background-color: #aeaeae;
}

.product-categories .first-level:last-child:before {
  height: calc(100% - 34px);
}

.product-categories .second-level {
  position: relative;
  padding-left: 30px;
}

.product-categories .second-level:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 20px;
  top: 12px;
  height: 1px;
  background-color: #aeaeae;
}

.product-categories .root-level {
  position: relative;
}

.product-categories .root-level:before {
  content: "";
  position: absolute;
  left: 10px;
  width: 1px;
  top: 20px;
  height: 18px;
  background-color: #aeaeae;
}

.product-categories .root-level:after {
  content: "";
  position: absolute;
  left: 10px;
  width: 21px;
  top: 37px;
  height: 1px;
  background-color: #aeaeae;
}

.image-preview #remove-image {
  display: none;
  cursor: pointer;
  text-decoration: underline;
  color: #2574A9;
  text-align: center;
}

.image-preview #remove-image i {
  margin-right: 5px;
}

.image-preview #remove-image.showed {
  display: block;
}

.image-preview #remove-image:hover {
  color: #1E8BC3;
}

.image-preview .profile-img-tag {
  width: 150px;
  max-height: 250px;
}

.tabs-section {
  margin-top: 50px;
}

.product-pagination {
  margin: 60px auto;
}

.product-pagination li {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
  margin-right: 3px;
  margin-left: 3px;
}

.product-pagination li a {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #606975;
  line-height: 34px;
  text-decoration: none;
}

.product-pagination li a:hover {
  border-color: #e1e7ec;
  background-color: #f5f5f5;
}

.product-pagination li span {
  display: block;
  width: 36px;
  height: 36px;
  -webkit-transition: all .3s;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #606975;
  line-height: 34px;
  text-decoration: none;
}

.product-pagination li.active span {
  border-color: #1E8BC3;
  background-color: #1E8BC3;
  color: #ffffff;
}

.product-pagination .pagination {
  text-align: center;
  padding: 0;
}

table.without-border td {
  border: none;
}

.bordered {
  border: 1px solid #eaeaea;
}

.card-title.bottom-line {
  position: relative;
  padding-bottom: 15px;
  border-bottom: 1px solid #2574A9;
}

.card-title.bottom-line:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

select#status {
  padding: 3px 18px;
}

.order-total-big {
  font-size: 24px;
}

.blue {
  color: #2574A9;
}

.sale_price_text {
  margin-top: -5px;
  margin-bottom: 10px;
}
